[2018-08-22 01:02] michaelkunzmann-sap opened #442 "Private key encryption"
I have a conceptual question regarding Tessera/Constellation and private key encryption/decryption.
https://github.com/jpmorganchase/tessera/wiki/Configuration#using-existing-keys

I would like to encrypt a private key using your tools. It looks like that the private key derived from the password is directly used as the Tessera private key. Am I correct with this observation?

If so, this means th

[2018-08-22 10:32] Krish1979 commented on #442
@michaelkunzmann-sap - your observation is very valid. We will look to enhance the encryption so the keys are not directly dependent on the password.

[2018-08-22 19:32] michaelkunzmann-sap commented on #442
@Krish1979 Sounds good!

[2018-08-24 17:06] michaelkunzmann-sap commented on #442
Looking at the code from Tessera and Constellation, it actually looks like the derived key actually isn't directly used as the constellation key, but actually used to encrypt the Constellation key (as it should be). So decrypting the Constellation key, changing the password and re-encrypting the key should be trivial, if the tools exist.

Since we run Quorum on Kubernetes and decided to move confi

[2018-08-24 17:14] jpmsam commented on #442
No, the password is only used for encrypting/decrypting the key. It isn't used to derive the key.

That is correct.

[2018-08-29 13:54] Krish1979 opened #447 "Private key password Encryption - Add ability to change password"
Strategically we will have key management tools integrated onto Tessera

[2018-08-30 11:36] #442 closed, assigned to nobody

[2018-09-10 12:30] alexsplashex opened #449 "Fail during mvn install"
Hello. I was trying install and compile tessera.
1. $ java -version
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

2. $ mvn --version
Apache Maven 3.3.9
Maven home: /usr/share/maven
Java version: 1.8.0_181, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-8-oracle/jre
Default locale: en_US, pla

[2018-09-10 12:52] prd-fox commented on #449
Hi Alexsplashex,

The steps you performed were correct - just checkout the code and perform ```mvn install```.

Are you able to post which tests failed?

These should be listed on the lines just before the first screenshot.

[2018-09-10 13:31] alexsplashex commented on #449
Sure
Code was cloned from this repo and didn't modified
Now it fails on acceptance-test step
<img width="1180" alt="screen shot 2018-09-10 at 16 30 18" src="https://user-images.githubusercontent.com/39257074/45300412-f048a200-b516-11e8-94fa-e998ee7bc4e8.png">

[2018-09-10 14:56] prd-fox commented on #449
Strange. Usually the acceptance tests fail because there are left-over Java processes from a previous build, or the app is already running on the test ports (8080 - 8083).

Can you post the tests that are failing? They should appear above the reactor summary which you have shown here.

[2018-09-10 15:15] alexsplashex commented on #449
Of course

`[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running com.quorum.tessera.config.KeyDataTest
[INFO] Tests run: 4, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 1.752 s - in com.quorum.tessera.config.KeyDataTest
[INFO] Running com.quorum.tessera.config.SslAuthenticationModeTest
[INFO] Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time ela

[2018-09-10 15:38] prd-fox commented on #449
I believe the is a file permission issue with regards to some of the files creating during the tests.

Did you checkout the code and run ```mvn install``` as the same user, or can you check the the user running ```mvn install``` has full read/write permissions on the "tessera" folder and all subfolders?
If in doubt, run ```chown -R <username> tessera/```.

If this still fails, can you post the exa

[2018-09-10 15:49] alexsplashex commented on #449
I run mvn install as root
`root@Tessera-vm1:~/tessera# mvn install`

[2018-09-10 15:50] alexsplashex commented on #449
root@Tessera-vm1:~/tessera# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.5 LTS
Release:	16.04
Codename:	xenial

[2018-09-10 22:24] prd-fox commented on #449
Running as the root user is likely what is causing the issue.
The failing tests are testing that certain files cannot be overwritten, but the root user always has the ability to write to whichever file it pleases.

Can you try cloning the repo and running ```mvn install``` as another user?

[2018-09-11 05:40] aroommen commented on #449
Thanks @prd-fox I had run into the same issue. I was able to get it built after running as a non-root user

[2018-09-11 07:55] alexsplashex commented on #449
Trying run mvn install like non root user
`ops@Tessera-vm1:~/tessera$ mvn install`

`ops@Tessera-vm1:~/tessera$ ls -la
total 792
drwxrwxr-x 18 ops ops   4096 Sep 11 07:40 .
drwxr-xr-x  6 ops ops   4096 Sep 11 07:40 ..
drwxrwxr-x  4 ops ops   4096 Sep 11 07:40 argon2
-rw-rw-r--  1 ops ops    282 Sep 11 07:39 checkstyle-suppressions.xml
-rw-rw-r--  1 ops ops   2018 Sep 11 07:39 checkstyle.xml
-rw-rw

[2018-09-11 09:31] prd-fox commented on #447
Requirements:
Private keys that are protected with a password should be able to have that password changed.

Outstanding questions:
- What command line parameters to use for specifying a password change?
- Should this operation update the configuration and then autostart the application, like the new key generation does?

[2018-09-11 09:57] prd-fox commented on #449
Ok, at least it confirms the earlier issue that some of the tests won't run as the root user.

When the above errors occur it's because Tessera had a problem starting the web server.

Can you confirm there are no other services running on port 8080 - 8083?
Also, are you able to run the application from a pre-built jar using the config you posted earlier?

[2018-09-11 10:01] prd-fox opened #450 "File overwrite tests don't run as a root/admin user"
Tests that create files and remove the ```writable``` attribute so an exception is thrown for the test don't work as the root user (on Linux) because the root user always has write access, regardless of permissions.

Tests that use ```File#setWritable(false)``` are the ones that are failing. An alternative way to ensure the exception gets thrown should be used that works with root/admin users.

[2018-09-11 10:34] alexsplashex commented on #449
<img width="694" alt="screen shot 2018-09-11 at 13 12 13" src="https://user-images.githubusercontent.com/39257074/45354830-5e4ca200-b5c7-11e8-83b2-a67826396050.png">

[2018-09-11 13:23] prd-fox commented on #447
Answers to above questions:

a)
Use separate CLI options that specify:

1. The private key file to modify (inline changes will not be supported currently)
2. Provide the old password (if the key was locked) either directly or in a file
3. Provide argon options for that override the defaults

--key.pwdupdate.keyfile \<filepath\> [ --key.pwdupdate.old \<oldpass\> | --key.pwdupdate.pwdfile \<password

[2018-09-12 08:20] prd-fox commented on #450
Closing this issue because it doesn't make sense to change the tests.

If you are building from source as the root user, the implication is that you could intend to run the application as the root user.
The tests fail because they expect existing files not to able to be overwritten, but the root user can do that regardless. This is also true when running the application, thus changing the tests hi

[2018-09-12 08:20] #450 closed, assigned to nobody

[2018-09-12 09:15] namtruong commented on #449
@alexsplashex could you please send us some log message which would help with the diagnose? The log files could be found under target folder - there should be node1.log, node2.log files there

[2018-09-12 09:46] melowe commented on #447
The update part can be a single flag and the same options can be used .

[code]

[2018-09-12 14:56] prd-fox commented on #447
Using:

--keys.passwordFile <file>
--keys.passwords <file>
--keys.keyData.privateKeyPath <path>
--keys.keyData.config.data.aopts.algorithm
--keys.keyData.config.data.aopts.iterations
--keys.keyData.config.data.aopts.memory
--keys.keyData.config.data.aopts.parallelism

Although they are longer and potentially less clear, they are already defined properties that can be interpreted in the context of

[2018-09-13 12:19] GrandSchtroumpf opened #454 "Typo mvn install -P kalium"
In the README :
Change `mvn install -Pkalium` to `mvn install -P kalium`.

+ Bonus: It would be nice to have a 'or' between jnacl and kalium for better understanding.
Thanks for your work !

[2018-09-17 10:04] namtruong commented on #449
@alexsplashex are you still getting the issue?

[2018-09-17 12:44] alexsplashex commented on #449
Yes, but now I have more priority tasks

[2018-09-18 08:53] matrixoneken opened #463 "For mysql , what is the table about tessera?"
I want to use mysql to store the information about tessera. I want to kown which version of mysql  I need to use and What the table structure I need to define ? Thank you.

[2018-09-18 09:07] prd-fox commented on #463
There is a sample DDL in the ddls/ folder, for which MySQL is one of.

https://github.com/jpmorganchase/tessera/blob/master/ddls/mysql-ddl.sql

[2018-09-18 09:07] #463 closed, assigned to nobody

[2018-09-18 09:28] prd-fox commented on #447
Implemented and the wiki updated.

[2018-09-18 09:28] #447 closed, assigned to prd-fox

[2018-09-18 11:29] Krish1979 commented on #454
Updated.

[2018-09-18 11:29] #454 closed, assigned to nobody

[2018-09-19 01:53] zhangjie123 commented on #449
I encountered the same problem, Can anyone help? I am also run mvn install with non root user.

~/tessera$ java -version
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

mvn --version
Apache Maven 3.3.9
Maven home: /usr/share/maven
Java version: 1.8.0_181, vendor: Oracle Corporation
Java home: /usr/lib/

[2018-09-19 03:29] matrixoneken opened #465 "How to add mysql to 7nodes example?"
I have installed mysql on local machine
I have downloaded the jar(version 8.0.12) about mysql jdbc and saved at /home/vagrant/tessera/mysql.jar
I have run the ddl(https://github.com/jpmorganchase/tessera/blob/master/ddls/mysql-ddl.sql) of mysql

I modify the tessera-init.sh as follwoing and change the jdbc url to mysql

#!/usr/bin/env bash
echo "[*] Initialising Tessera configuration"

currentDir=

[2018-09-19 03:32] matrixoneken commented on #465
I also modify the  tessera-start.sh and add the mysql.jar to  the class path of java command as following

#!/bin/bash
set -u
set -e

function usage() {
  echo ""
  echo "Usage:"
  echo "    $0 [--tesseraJar path to Tessera jar file] [--remoteDebug] [--jvmParams \"JVM parameters\"]"
  echo ""
  echo "Where:"
  echo "    --tesseraJar specifies path to the jar file, default is to use the vagrant loc

[2018-09-19 03:36] matrixoneken commented on #465
I can see the running command is as following

**java   -Xms128M -Xmx128M -cp /home/vagrant/tessera/mysql.jar -jar /home/vagrant/tessera/tessera.jar -configfile qdata/c1/tessera-config1.json >> qdata/logs/tessera1.log 2>&1 &**

But I get the error in the log file as following and can not start the tessera node

 Exception: org.apache.commons.dbcp.SQLNestedException: Cannot create JDBC driver of cl

[2018-09-19 09:00] prd-fox commented on #465
Ah, I think the issue is that the change was made after the last release.
Can you try building Tessera from master instead of using the v0.6?

Additionally, the class path hasn't been setup correctly for using an external database driver.
The command should be:
[code]

Also, there is a small typo in the JDBC URL; you are missing a colon after 'mysql'

[2018-09-19 09:41] matrixoneken commented on #465
Thank you for your answer.
I have cloned the branch master and build with  mvn package -Dmaven.test.skip=true

I get the error as following:

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 5.022 s
[INFO] Finished at: 2018-09-19T17:39:06+08:00
[INFO] ------------------------------------------------------------------------
[ERR

[2018-09-19 09:44] matrixoneken commented on #465
Can you release the jar file of the new version? Thank you.

[2018-09-19 09:47] prd-fox commented on #465
Can you run
[code]
or
[code]
The coverage issue stems from a previously failed build. Cleaning the project first will allow the coverage checks to not be executed.

[2018-09-19 11:11] matrixoneken commented on #465
I have packaged from branch matser by myself. And changed the command as following:
java   -Xms128M -Xmx128M -cp /home/vagrant/tessera/mysql.jar:/home/vagrant/tessera/tessera.jar com.quorum.tessera.Launcher -configfile qdata/c1/tessera-config1.json >> qdata/logs/tessera1.log 2>&1 &

I  get the error as before.

org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.apache.com

[2018-09-19 15:21] namtruong commented on #465
@matrixoneken it looks like you're missing a colon in your jdbc url - it should be jdbc:mysql://127.0.0.1:3306/....

[2018-09-20 04:25] matrixoneken commented on #465
@namtruong  thank you for your answer. I have add a colon and also get the error as following:

org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.apache.commons.dbcp.SQLNestedException: Cannot create JDBC driver of class 'org.h2.Driver' for connect URL '**jdbc:mysql://127.0.0.1:3306/quorum?useSSL=false**'
Error Code: 0
12:22:37.364 [main] ERROR eclipselink.logging.ejb -

[2018-09-20 15:34] prd-fox commented on #465
Are you sure you are running with the freshly built jar?
It looks like you are still using the old jar file (v0.6), which has the 'org.h2.Driver' as the default choice, which is no longer the case.

In the command I gave you before which specified the class path:
[code]
the second jar is the Tessera one. Did you overwrite the jar file with the freshly compiled one? Otherwise you will still be usin

[2018-09-20 15:35] prd-fox opened #469 "GRPC acceptance tests should be expanded"
The GRPC acceptance tests do some basic checks to ensure a GRPC service is running, but a full set of tests for each endpoint should be made to ensure the calls act as expected, similar to the REST acceptance tests.

[2018-09-21 02:13] matrixoneken commented on #465
I have overwrited the jar file with the freshly compiled one. I can find the following content in swagger.html in jar file.

Tessera rest
HTTP | HTTPS://localhost:8080/

Version 0.7-SNAPSHOT

but in old version I only find version-0.6 and it is not 0.7.

[2018-09-26 13:37] namtruong commented on #449
hi @zhangjie123 , would you mind putting up here the tests that failed? Thanks

[2018-09-27 16:51] pohzipohzi commented on #449
I am also running into the same error as a non-root user on ubuntu 18.04 LTS

Java version:
[code]

Maven version:
[code]

Output from `mvn install -e`:
[code]

[2018-09-28 08:13] prd-fox commented on #449
@pohzipohzi currently you need to build and run with Java 8

[2018-10-02 14:00] melowe commented on #469
First we need to separate the P2P and the endpoints for serving the Quorum nodes so we can decorate the endpoint accordingly.

[2018-10-11 10:01] melowe opened #487 "Separate api model objects from internal domain model"
At the moment tessera-core reuses the api objects as its domain model rather than defining its own domain model.

Task 1. Create domain model in core and redefine transaction manager to use them
Task 2. Move com.quorum.tessera.api.model in tessera core into jax rs module. Provide convertors to copy between domain and api objects.

Implement a common set of interfaces to ensure that the read method

[2018-10-11 10:11] melowe opened #488 "Create enclave deployment artefact"
The encryption-api module defines enclave as the service that core uses for encryption operations and key access. Private keys should never be exposed outside of its system boundary.

One of the proposed deployment options is that enclave can be co-deployed in the same location as private keys and expose its services to tessera which is potentially deployed in a different location.

Task 1. Provid

[2018-10-11 10:14] melowe opened #489 "Add distinct configuration for p2p and quorum facing services"
The current configuration has no clear means of separating node to node communication (party info) and the endpoints used for privacy management that quorum uses.

[2018-10-11 10:17] melowe commented on #489
1. Design from usage and working back what configuration is required
2. Implement and provide migration path for existing deployments.

Usage examples:
node to node uses grpc while quorum uses rest .
Node to node used unix domain files as transport while quorum uses http (this is relevant for grpc and rest)

[2018-10-11 10:22] melowe opened #490 "base package names"
all classes in tessera core should have the base package com.quorum.tessera.core

this rule of having a module reference in the package name should be applied to all of the modules.

com.quorum.tessera.{module ref}

having a distinct namespace will mean tessera can be more easily packaged for java 9+ module-info descriptors, as modules cannot have package name clashes.

[2018-10-11 10:24] Krish1979 opened #491 "Provide ability to have an internal cluster of Tessera nodes for heightened recoverability"
To have a cluster of nodes against each quorum node to resume transaction processing even if one node in the cluster is down. All nodes in cluster will share all private/public key pairs associated with that quorum node. The connection is to listen over HTTP or gRPC with robust authentication with a load balancing layer managing the cluster

[2018-10-13 08:31] melowe opened #496 "/push POST should return GET location"
The recent change to return the message hash from the /push (POST) should return the get request url to retrieve the Transaction. As a general approach when Creating items via REST the Location url should be returned.

[2018-10-14 19:03] melowe opened #497 "Populate config from environment vars"
Provide the option for defining config in environment vars generated from config.

config.server.url should be able to also be defined as a environment var

TESSERA_CONFIG_SERVER_URL

When config is populate it should look for any of the TESSERA_ prefixed environment vars and match to config property paths.

[2018-10-14 19:42] melowe commented on #497
TESSERA_CONFIG_SERVER_URL would map to

con

[2018-10-14 19:43] melowe commented on #497
One consideration doing this being aware that when we save config to a file, the presence of the environment var is required to ensure the value isn't stored to the file. This is a general issue that also needs some though for the overrides

[2018-10-15 11:50] Krish1979 commented on #449
closing this issue. Please reopen if it is still an issue

[2018-10-15 11:50] #449 closed, assigned to nobody

[2018-10-15 11:50] Krish1979 commented on #465
please reopen if it is still an issue

[2018-10-15 11:50] #465 closed, assigned to nobody

[2018-10-18 01:47] matrixoneken opened #500 "How to connect the mysql"
The 7nodes example is about H2, I want to kown how to connect mysql? Do you have any example about this? Thank you .

[2018-10-25 16:05] melowe opened #506 "Azure support too try coupled to core application"
The azure key vault support is too tightly coupled to the core. We need to position the code so we can create key vault specific deployments or even allow users to bootstrap key vaults at runtime.

1. The azure module needs to provide a spring config that is boot strapped like other modules
2. Some adaptor/provider object needs to be added to the key vault module that looks up the implementation v

[2018-10-26 01:52] matrixoneken opened #507 "Does anyone know how to connect mysql?"
Following url is my issue
https://github.com/jpmorganchase/tessera/issues/465

Does anyone know how to connect mysql? Thank you!

[2018-10-26 08:27] prd-fox commented on #507
Hey.

As explained in the other issue, once you have built the master branch of Tessera, then it just a case that you set the JDBC URL correctly in the configuration.

A release of the next version shouldn't be far away if you are willing to wait and don't want to build it yourself.

[2018-10-26 08:27] #500 closed, assigned to nobody

[2018-11-02 03:03] matrixoneken commented on #507
I have built the source code with 'mvn package' and got the 0.7 version in tessera-core project. I replaced the 0.6 version.  But I can not run the 7nodes example. I got the following error in log.
no main manifest attribute in /root/vagrant/tessera/tessera.jar

I wanth to konw which project I can get the new version?

[2018-11-06 11:49] melowe opened #512 "Enclave as distinct service"
Enclave needs to be runnable as a distinct service that can optionally be deployed separately to the transaction manager. The architectural assuming being that access to private keys is only available within the system boundaries of the enclave.

1. Add server config for enclave
2. Create standalone enclave jar that can be deployed externally from the core tessera application

┆Issue is synchroniz

[2018-11-08 14:51] melowe opened #514 "Alternative deployment artefacts"
Up until 0.7 tessera has been released as a self executing uber jar. With the addition of different key vault implementations and protocol options the artefacts are well tailored to specific use cases. Additionally some organisations might prefer deploying applications a spring boot applications others may even want to deploy on jee runtimes.

Provide some examples projects that compose the tesser

[2018-11-09 12:05] Krish1979 commented on #507
The new release is now available (Tessera 0.7) which has the jdbc configuration for mysql. Please try and confirm back

[2018-11-09 12:19] Krish1979 opened #517 "Support multiple key management vault integration"
Microsoft Azure support was our test & trail implementation for external key management but it is too closely coupled with core application. We should decouple (#506) and refactor to make it easier to integrate and support out key management vaults like AWS, Hashicorp Vault etc.

[2018-11-10 10:23] matrixoneken commented on #507
I have try the 0.7 version and get following error:

 Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.7.3.v20180807-4be1041): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.apache.commons.dbcp.SQLNestedException: Cannot create JDBC driver of class '' for connect URL 'jdbc:mysql://localhost:3306/quorum'
Error Code: 0
05:12:07.455 [main] ERROR eclipselink

[2018-11-10 12:50] melowe commented on #507
When bootstrapping the jdbc driver you need to add both the jdbc driver jar and the tessera jar

[code]

Please try something like below (i used your parameters).

[code]

[2018-11-12 01:39] matrixoneken commented on #507
java   -Xms128M -Xmx128M -cp /root/vagrant/tessera/mysql.jar -jar:/home/vagrant/tessera/tessera.jar -com.quorum.tessera.Launcher -configfile qdata/c7/tessera-config7.json >> qdata/logs/tessera7.log 2>&1 &

I used above  command and I got following error
Unrecognized option: -jar:/home/vagrant/tessera/tessera.jar
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurre

[2018-11-12 01:45] matrixoneken commented on #507
The path of mysql.jar is  /root/vagrant/tessera/mysql.jar
The path of tessear.jar is  /home/vagrant/tessera/tessera.jar

Please tell me how to write the command. thank you.

[2018-11-12 10:09] melowe commented on #507
My apologies I think I had a typo.. it should be something like
[code]

[2018-11-13 03:05] matrixoneken commented on #507
Now I can connect to the mysql. Thank you!
But when I use js to deploy a smart contract and set a privatefor key , I get following error:

could not commit JPA transaction; nested exception is javax.persistence.RollbackException: Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.7.3.v20180807-4be1041): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: com.mysql.

[2018-11-13 14:58] melowe opened #522 "Config key validation"
Empty values for public and private key values aren't being caught before startup.

Expected behaviour, if key values are empty or any other issues with config need to be found before startup. Cli user needs feedback that s/he needs to correct these issues before startup.

[2018-11-14 16:07] Krish1979 opened #524 "Fix initialisation of /partyinfo service"
Normal 7 nodes example where node 1 is bootstrap node works as expected, however if each node has different peer node in the configuration, say node 1 has node 2 , node 2 has node 3 and so on, the partyinfo service of each node needs to initialise with the list of peers provided in the configuration file correctly. We are seeing behaviour where this initialisation is not working correctly if the s

[2018-11-15 04:59] andreataglia commented on #449
I get the same issue, even with Java 8:
Java Version
[code]
Maven Verion
[code]

`[INFO]
[ERROR] Tests run: 18, Failures: 1, Errors: 0, Skipped: 0
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] tessera ............................................ SUCCESS [  1.323 s]
[INFO] argon2 .........................................

[2018-11-15 11:29] namtruong commented on #507
The error message above indicates that you're inserting a duplicate entry into the database. This might as well just be a re-send attempt. Also the hash (primary key) above doesn't look to be in the correct format.

In order for us to diagnose this further please could you please send the complete log and also steps to reproduce the issue.

Many thanks

[2018-11-15 14:26] namtruong opened #525 "Unit test fail in AzureVaultKeyGeneratorTest when build with linux file system"
This unit test exceptionThrownIfDisallowedCharactersUsedInVaultId expects java.nio.charset.UnsupportedCharsetException to be thrown however before that, Paths.get(filename) would attempt to use FileSystems.getDefault() to validate the file path, and this might return different outcomes depending on the OS system Tessera is being built in. In OS such as linux this method in Paths library will throw

[2018-11-15 14:34] namtruong commented on #449
@andreataglia @shiba The failed test you observed above will happen with linux filesystem. I have raised a different issue to track this #525

For the time being you can try build with  -DskipTests

[2018-11-15 15:29] a10000005588 commented on #449
@namtruong  Thanks a lot. Now I can successfully build tessera.

[2018-11-16 01:59] matrixoneken commented on #507
[tessera1.log](https://github.com/jpmorganchase/tessera/files/2587672/tessera1.log)
[tessera2.log](https://github.com/jpmorganchase/tessera/files/2587674/tessera2.log)
[tessera3.log](https://github.com/jpmorganchase/tessera/files/2587677/tessera3.log)
[tessera4.log](https://github.com/jpmorganchase/tessera/files/2587678/tessera4.log)
[tessera5.log](https://github.com/jpmorganchase/tessera/files/25

[2018-11-16 02:04] matrixoneken commented on #507
![image](https://user-images.githubusercontent.com/41671830/48593727-02b4e100-e989-11e8-9889-86198e346b37.png)

The table in mysql is like above image

[2018-11-16 10:37] namtruong commented on #507
@matrixoneken thanks for the above - just to confirm by the look of it - do you have all 7 nodes connecting to the same mysql database?
Each node when processing and storing transaction will generate the same hash as primary key - and if they're trying to persist to one database then it will throw exceptions with duplicate transaction.

They will need to have separate databases for each

[2018-11-16 15:07] namtruong commented on #524
Fixed by #527

[2018-11-16 15:07] namtruong commented on #525
Fixed by #527

[2018-11-16 15:08] namtruong commented on #522
Fixed by #527

[2018-11-16 18:02] SatpalSandhu61 opened #529 "Resend poller not differentiating between URL's with trailing slash (causing infinite 'resend' requests)"
The resend poller isn't differentiating between "http://localhost:9001" and "http://localhost:9001/" (with the trailing slash that was added for constellation).
In the event that auto-discovery is disabled, then this has the impact of causing a "resend" request every 2 seconds (ad-infinitum).

**To reproduce:**
- Set up two nodes, with both configured as peers:
[code]
- On node 1, disable auto-dis

[2018-11-20 02:45] matrixoneken opened #533 "How to deplopy a privatefor contract with tessera which connecting to the mysql"
var Web3 = require('web3')
var web3 = new Web3(new Web3.providers.HttpProvider('http://192.168.193.64:22000')) //node1 rpc address
var version = web3.version.node;
console.log("version:"+version);
var mainAbi=[{"constant":false,"inputs":[{"name":"strVal","type":"string"}],"name":"Set","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name"

[2018-11-20 02:51] matrixoneken commented on #533
[TestProject.zip](https://github.com/jpmorganchase/tessera/files/2597860/TestProject.zip)
I upload my code. it can be run by node.js .

[2018-11-20 10:22] prd-fox commented on #533
If the application works fine with the default H2 database, then it should not be an error with the web3 application.

I set up a MySQL server fresh and had the following schema:
`CREATE TABLE ENCRYPTED_TRANSACTION (ENCODED_PAYLOAD BLOB NOT NULL, HASH VARBINARY(100) NOT NULL, TIMESTAMP BIGINT, PRIMARY KEY (HASH));`

The connection string I put in the configuration file was:
`"url": "jdbc:mysql://1

[2018-11-20 10:25] prd-fox commented on #533
Also, looking at the past issues you raised about this, it is important to note that:

1) Each node must have its own database (you can use the same database server, but each must use its own database).
2) It is normal to see constraint violations when restarting a node in an existing network.

[2018-11-20 15:01] Krish1979 commented on #524
Fixed in 0.7.3 release

[2018-11-20 15:01] #524 closed, assigned to melowe

[2018-11-20 15:01] Krish1979 commented on #522
Fixed in 0.7.3 release

[2018-11-20 15:01] #522 closed, assigned to melowe

[2018-11-20 15:02] Krish1979 commented on #525
Fixed in 0.7.3 release

[2018-11-20 15:02] #525 closed, assigned to namtruong

[2018-11-20 17:54] melowe opened #535 "Testing url equality using string testing"
When reading config and testing if a given party is in the party info node, we use string testing. This means that a url with a trailing slash is different to one without. This means if a user doesn't use a trailing space the presence of a given party won't be detected.

**Action**
Check hash codes and equals in party to compare equality is a less error prone way.

[2018-11-20 20:25] melowe commented on #529
When reading config and testing if a given party is in the party info node, we use string testing. This means that a url with a trailing slash is different to one without. This means if a user doesn't use a trailing space the presence of a given party won't be detected.

Action
Check hash codes and equals in party to compare equality is a less error prone way.

[2018-11-20 20:25] #535 closed, assigned to nobody

[2018-11-20 20:28] #469 closed, assigned to nobody

[2018-11-21 01:19] matrixoneken commented on #533
[1.log](https://github.com/jpmorganchase/tessera/files/2602197/1.log)
[2.log](https://github.com/jpmorganchase/tessera/files/2602198/2.log)
[3.log](https://github.com/jpmorganchase/tessera/files/2602199/3.log)
[4.log](https://github.com/jpmorganchase/tessera/files/2602200/4.log)

[5.log](https://github.com/jpmorganchase/tessera/files/2602203/5.log)
[6.log](https://github.com/jpmorganchase/tessera/

[2018-11-21 10:37] prd-fox commented on #533
The logs all indicate that everything is fine. Tessera shared the transactions, the transaction made its way into a block and all nodes processed the block.

I copied the setup you have above and ran the "DeployMainContract.js" and "GetMainContract.js" files, and nodes 1 and 2 had the output "合约内容：BTC-10,ETH-10" with node 7 giving an error (since it didn't have the correct information).

Are these

[2018-11-21 11:42] Krish1979 commented on #507
each Tessera node needs to have its own DB

[2018-11-21 11:42] #507 closed, assigned to nobody

[2018-11-22 08:18] matrixoneken commented on #533
DeployMainContract.js  is deploying a private contract. If you can get the contract address, it means everything is ok.

GetMainContract.j is getting content about the private contract from the address which got by DeployMainContract.js. The content is "合约内容：BTC-10,ETH-10" , so you are right.

But I can not get the contract address and the program is always running. Please see following image
![im

[2018-11-22 09:56] prd-fox commented on #533
I managed to reproduce the problem now.
Note that this also happens with H2, and is not to do with Tessera, so your MySQL setup is correct and working properly.

This seems to be about using raft based consensus. The block is minted too quickly, and so the callback function likely isn't set in the web3js app before the transaction is mined, meaning the callback is never fired.

A couple of workaro

[2018-11-22 16:29] Krish1979 commented on #533
this issue is not to do with Tessera, hence closing issue.

[2018-11-22 16:29] #533 closed, assigned to nobody

[2018-11-26 06:38] RUAN0007 opened #537 "Mvn install fails"
Hi,
I encoutered the following errors when 'mvn install'. Any idea? Thx!

[code]

[2018-11-26 06:40] RUAN0007 commented on #537
My mvn version is
[code]

Java version is
[code]

[2018-11-26 09:06] RUAN0007 commented on #537
I get around this issue by directly downloading the jar file.

[2018-11-26 09:06] #537 closed, assigned to nobody

[2018-11-27 01:18] michaelkunzmann-sap opened #539 "Unable to decrypt private key"
hi, we have trouble decrypting private keys with tessera:
[code]

we generate using golang.org/x/crypto/nacl/box / golang.org/x/crypto/nacl/secretbox in our Go stack. we used constellation before, no issues with it.

the (throw-away) private key is :
[code]
the (throw-away) password is:
[code]
The config file looks like this:
[code]

[2018-11-28 09:43] prd-fox commented on #539
Hey Michael.

I think the issue comes from the name of the property for the password file - it should be "passwordFile" without the "s".

There are two issues here I think that we can look into:
1. The confusing nature of having a "passwords" and "passwordFile" property, with one of them plural and the other not.
2. That the error really should have been that a password was not provided (since it

[2018-11-28 09:44] prd-fox commented on #539
I didn't explicitly mention - I copied the above test key and it was able to be decrypted using Tessera, so it should just be the property name issue.

[2018-11-28 09:47] prd-fox opened #540 "Change confusing property names "passwords" & "passwordFile""
Having two property that are related, with one being plural and the other not, is confusing. We should allow the property name to be both plural and singular, i.e. "password"/"passwords" and "passwordFile"/"passwordsFile"

- Check how JAXB handles multiple names for the same property (if it even can)
- Update of the configuration class to use both names

[2018-11-28 09:48] prd-fox opened #541 "Decrypting locked key without password gives wrong error message"
When decrypting a locked key, the default password of "" is used to denote that a password is not present for this key.

This empty string is then used to actually decrypt the key, and the resulting error message is that it was the wrong password.
The correct error message should state that no password was provided.

[2018-11-28 11:55] nicolae-leonte-go opened #543 "Separate the the admin resources in their own secured server"
The ConfigResource should be separated into an Admin app. The Admin app should also provide some basic monitoring functionality (like listing currently known peers/recipients).

[2018-11-28 17:01] michaelkunzmann-sap commented on #539
Hi @prd-fox , yes this was indeed the issue. Decryption works now, thanks

[2018-11-28 17:01] #539 closed, assigned to nobody

[2018-11-28 22:00] michaelkunzmann-sap opened #546 "Couldn't decode uint256 from ABI: 0x"
Hi,

We are trying to switch from Constellation to Tessera, using Quorum 2.1.1 and Tessera 0.7.3

When we create two vanilla instances and deploy a smart contract, as well as try to read from it, we get the following error (using web3 1.0.0 beta 35):
[code]

Log output Geth 1:
[code]

Geth 2:
[code]

Tessera 1:
[code]

Tessera 2:
[code]

Tessera config for both instances (peers contains public URL

[2018-11-28 22:20] prd-fox commented on #546
Thanks for the detailed issue! I'll take a look at reproducing the issue and let you know how I get on.

[2018-11-28 22:37] michaelkunzmann-sap commented on #546
one note: the nodes run on kubernetes, where ~~constellation~~ tessera runs behind an nginx proxy that performs TLS termination. TLS is not configured in tessera, but the public URLs use ```https``` endpoints.

[2018-11-29 11:07] melowe opened #547 "Remove eclipselink auto create table configuration"
Postgres's lack of support for LONGVARBINARY and eclipselink's SQL generation correctly not using the non JDBC BYTEA type that Postgres defines means that the create table option results in error.

Action: Remove javax.persistence.schema-generation.database.action = create and provide sql scripts

[2018-11-29 11:32] prd-fox commented on #546
It looks like its an issue with hostname configuration.

If you want to use 0.0.0.0 then there is an extra config option for that found [here](
https://github.com/jpmorganchase/tessera/wiki/Configuration-overview#server)

The current config above will:
1. bind to http://0.0.0.0:9000
2. advertise its public key with the same address

Since I guess all nodes have that same config (achieved by having

[2018-11-29 12:46] melowe commented on #547
The user issue was actually caused by the database platform being hard coded in the spring config. JPA providers should and can resolve the platform via the JDBC url.

Action: Remove database platform config.

[2018-11-29 16:42] #547 closed, assigned to nobody

[2018-11-30 12:03] melowe opened #552 "Upcheck works even when database tables aren't setup correctly"
Upcheck and other rest calls return ok status regardless of database state. For an upcheck to be successful some validation of the DB state should happen and an appropriate error status returned so fail early rather than when attempting to access data.

Action: Add validation query to relevant status check endpoints e.g. select count(*) from table name or something similar.

[2018-11-30 16:52] melowe opened #554 "Tech debt: Remove resteasy server"
Delete rest resteasy server module as its not used nor supported.

[2018-11-30 19:48] #554 closed, assigned to nobody

[2018-11-30 21:47] michaelkunzmann-sap commented on #546
Hi! Thanks for your thorough answer. I must have interpreted the ```hostName``` field wrong. Will re-test, however I have some open points:

- I believe that in a previous attempt I noticed that Tessera appends the ```port``` to the ```hostName``` field internally, this is at least what it prints to the output when starting up. Can you verify this? This would be problematic, in case the public por

[2018-12-01 12:37] melowe opened #557 "Java 9+ Jigsaw Compatibility"
Add build profile and create artefact that can run on java 9+ JVM.

Create build profile that builds a separate jigsaw compatible deployment artefact.

Actions.
1. Add Jaxb and any other dependencies in previous JVMs (6-8)
2. Configure Eclipselink Moxy as global Jaxb provider
3. Add build profile
4. Add Travis build to build and execute tests against JVMs

[2018-12-03 10:56] melowe opened #560 "Logger verbosity while running tests too high"
Lower log levels while building contain too many debug level messages

[2018-12-03 11:05] EmanHerawy opened #561 "tessera installation fails"
Hi ,
 I have a trouble in tessera installation.I tried to install it on my local ubuntu 18 machine and on aws instance ( ubuntu 18.4 also ) but both installation fail on the same step .
here is the output :
 ` mvn install -e
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.inject.internal.cglib.core.$ReflectUtils$1 (file:/usr/share/maven

[2018-12-03 12:11] SatpalSandhu61 commented on #561
Hi, you need to build using Java 8.
Java 10 is not currently supported.

[2018-12-03 13:16] EmanHerawy commented on #561
@SatpalSandhu61  thanks a lot for your reply , I'll use java 8

[2018-12-03 13:46] SatpalSandhu61 commented on #561
Cool. I'll close this issue for now.

[2018-12-03 13:46] #561 closed, assigned to nobody

[2018-12-03 15:35] EmanHerawy commented on #561
@SatpalSandhu61
I have updated the java version
java -version
java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

when i run mvn install -e

  mvn install -e
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effecti

[2018-12-03 16:03] prd-fox commented on #546
If only `hostname` and `port` are specified (like you had), then both the address that is advertised with your public keys and the interface the server binds to is indeed made by appending the 2 properties, as you say.

If you specify the `bindingAddress` as suggested, then that address is what interface you listen to, whereas the original `hostname` and `port` are still what is advertised.

So th

[2018-12-03 16:04] prd-fox commented on #546
As for the second point, we add in the "advertised" address (our own publicly accessible address) to the peers list at startup, so you do not need to specify yourself in the `peers` list.

Hope these comments help!

[2018-12-03 18:42] #560 closed, assigned to nobody

[2018-12-03 23:15] michaelkunzmann-sap commented on #546
Hi @prd-fox ! Thanks a lot for the kind assistance, we were able to successfully set up a Tessera network and run our private transactions.

[2018-12-03 23:15] #546 closed, assigned to prd-fox

[2018-12-04 09:46] SatpalSandhu61 commented on #561
The failures appear to be related to Java 10.
Can you double check that you are using Java 9 for the build and that your classpath isn't picking up any Java 10 libraries.

[2018-12-04 11:16] vietlq commented on #512
Do you have any specific enclave in mind to be used? Yubi HSM2 has some nice features and is pretty cheap https://www.yubico.com/product/yubihsm-2/ . I can see that Enclave interface is nicely designed and can accommodate various implementations to different back-ends: https://github.com/jpmorganchase/tessera/blob/8c0bad8867b6e126116de27be946e202ca10ebdb/encryption/encryption-api/src/main/java/com

[2018-12-04 11:44] vietlq commented on #541
Empty password is actually a valid input for key defivation/key stretching function (Argon2):

https://github.com/jpmorganchase/tessera/blob/e41d15b6459e219095a202af76d9435b922b48df/config/src/main/java/com/quorum/tessera/config/keys/KeyEncryptorImpl.java#L106

If this error is implemented, it will disallow cases where users wish to have empty passwords. So *wrong password* is rather correct for t

[2018-12-04 14:49] EmanHerawy commented on #561
@SatpalSandhu61  Many thanks for your help, I really appreciate it , java version was 8 ,
It works now on my local machine and on aws instance  , I have deleted  tessera and recreate it by cloning it again then I run mvn install and everything is now perfect

[2018-12-04 14:54] SatpalSandhu61 commented on #561
@EmanHerawy Excellent to hear it!

[2018-12-04 15:47] prd-fox commented on #541
The user is not able to generate a key with an empty password. If an empty password is provided then it will generate an unlocked key.
The user has no path through the system to generate a locked key with an empty password (unless they manually do the same steps using another tool).

[2018-12-04 16:20] chris-j-h commented on #506
Completed in [PR 538](https://github.com/jpmorganchase/tessera/pull/538)

[2018-12-04 16:20] #506 closed, assigned to melowe, chris-j-h

[2018-12-04 18:57] #557 closed, assigned to melowe

[2018-12-04 19:09] #496 closed, assigned to nobody

[2018-12-04 19:13] melowe commented on #488
Related #512

[2018-12-04 19:20] #489 closed, assigned to nobody

[2018-12-05 10:10] Himanshu-Pandey opened #563 "TLS mode "CA" not working"
I am using sslConfig provided in the wiki : https://github.com/jpmorganchase/tessera/wiki/TLS .
It did not worked.

Getting issue:
`2018-12-05 10:09:47,920 DEBG 'tessera' stdout output:
Config validation issue: serverConfig.sslConfig Trust store config not valid. If server trust mode is CA, trust store must exist and not be null
`

[2018-12-05 10:43] prd-fox commented on #563
The Wiki suggests that Tessera can generate CA stores if they don't exist with the following property:
[code]

Is this what you are doing?

With a CA the stores must be provided beforehand that is signed by the CA, else it will be self signed which isn't what you want when using the CA option.

[2018-12-05 10:52] Himanshu-Pandey commented on #563
then what does the "generateKeyStoreIfNotExisted" flag do?

[2018-12-05 11:04] namtruong commented on #563
`generateKeyStoreIfNotExisted` being set to `true` will automatically generate the keystore files for the node (self-signed), but not the trust store. This will work with trust modes such as TOFU, because it uses a `knownClientsFile` or `knownServersFile ` for the list of trusted certificates.

To use CA mode, you need to specify the trust store (which probably will be the CA that signed the certi

[2018-12-05 16:55] namtruong commented on #563
Will close this as not an issue - the message observed
`2018-12-05 10:09:47,920 DEBG 'tessera' stdout output: Config validation issue: serverConfig.sslConfig Trust store config not valid. If server trust mode is CA, trust store must exist and not be null`
 is a valid config validation message.

If you wish to use CA trust mode, on the same wiki page
https://github.com/jpmorganchase/tessera/wiki/TL

[2018-12-05 16:55] #563 closed, assigned to nobody

[2018-12-06 05:10] preetgsanand opened #567 "DNS communication not working in AWS"
When setting up tessera nodes with dns and tls off, the nodes are not able to communicate.

The error logs are below -

`
08:18:13
2018-11-21 08:18:13,870 INFO spawned: 'privacy_manager' with pid 70

08:18:14
2018-11-21 08:18:14,877 INFO success: privacy_manager entered RUNNING state, process has stayed up for > than 1 seconds (startsecs)

08:18:20
2018-11-21 08:18:20,473 DEBG 'privacy_manager' st

[2018-12-06 08:27] chris-j-h opened #568 "Add key vault acceptance tests"
Key vault functionality is unit tested but end-to-end testing is still being carried out manually.  Automated acceptance tests should be written.

[2018-12-06 10:37] chris-j-h opened #570 "Overwrite protection when generating keys and storing in a vault"
The keys in a vault can be overwritten if new keys are generated with the same name

Tessera should check if keys already exist with the provided name and if so, provide a prompt to the user confirming if they want to overwrite these values.

[2018-12-06 11:06] chris-j-h commented on #570
Additionally, Hashicorp key generation currently sets the key names as `publicKey` and `privateKey`.  Providing the ability to set custom names would also help prevent keys from being overwritten.

[2018-12-07 05:30] Himanshu-Pandey commented on #563
Thanks for your help!!

[2018-12-17 19:46] dhyansraj opened #573 "Column TIMESTAMP missing on H2 migration"
After datadir migration to H2, getting following error

![image](https://user-images.githubusercontent.com/22983630/50111246-56298180-020a-11e9-9e87-cc270135d39e.png)

I was able to fix this by manually adding a column TIMESTAMP(DECIMAL).

![image](https://user-images.githubusercontent.com/22983630/50111288-7b1df480-020a-11e9-89ef-8bf361bbb2ea.png)

Can you please confirm this issue, I can create

[2018-12-18 09:35] SatpalSandhu61 commented on #573
The timestamp was added in v0.7, so it looks like it was missed from the exporter.
If you can create a PR then that would be very helpful.
If you haven't already completed a [CLA ](https://github.com/jpmorganchase/cla/), then can you also do that pls?
Many thanks.

[2018-12-18 10:15] melowe commented on #573
We've already added a more generalised JDBC database exporter allowing users define a properties file with the insertRow and createTable queries and the url . There is a snapshot available:

https://github.com/jpmorganchase/tessera/blob/snapshots/com/quorum/tessera/data-migration/0.8-SNAPSHOT/data-migration-0.8-20181128.172230-1.jar

Using the snapshot version with the following options could reso

[2018-12-19 10:42] #573 closed, assigned to nobody

[2018-12-19 10:42] #570 closed, assigned to chris-j-h

[2018-12-21 03:44] gtt116 opened #576 "AddPeer API accept duplicated url"
tessera version: 0.7.3

I test `addPeer` API by below command:
[code]

then get peers by:
[code]

I got lots of duplicated url in peers list, I think we should keep only one of these duplicated url.

[2018-12-21 09:51] chris-j-h commented on #570
This issue has been closed as an alternative resolution was used.  With #565 and #574, Tessera can retrieve the previous versions of a secret stored in an Azure or Hashicorp vault, thereby preventing a complete overwrite of the values stored in the vault.

[2018-12-21 13:21] prd-fox commented on #576
Agreed, there is no need to have multiple of the same. This shouldn't affect the ability for the application to work properly still, just a cleaner output.

[2018-12-22 11:42] NRajTheGeek commented on #449
Hi i am facing the same issue:

OS: ubuntu 16.04
java version:
      openjdk version "1.8.0_191"
      OpenJDK Runtime Environment (build 1.8.0_191-8u191-b12-0ubuntu0.16.04.1-b12)
      OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

maven version:
      Apache Maven 3.3.9
      Maven home: /usr/share/maven
      Java version: 1.8.0_144, vendor: Oracle Corporation
      Java home: /usr/lo

[2018-12-22 17:09] dhyansraj opened #577 "url mandatory for node"
othernodeurl was optional in Constellation, while the equivalent 'url' property is mandatory in Tessera. We are trying to add Tessera support in Quorum Maker, which allows creating a quorum network by adding nodes one by one. At the time of first node creation, there are no other nodes to connect and this worked perfectly since othernodeurl was optional in Constellation. Is there a way to make thi

[2018-12-24 13:33] SatpalSandhu61 commented on #577
@dhyansraj you're quite right, currently as least one peer url must be specified. We'll take a look and see whether we can make that optional.
In the meantime, a workaround that you can use for creating the first node is to set up a single peer url which connects to the first node itself. I've tried this out and it seems to work without any adverse impact.

I'll close this ticket and create one on

[2018-12-24 13:33] #577 closed, assigned to nobody

[2018-12-24 13:40] SatpalSandhu61 opened #578 "Configuration should allow empty peer url list"
When creating a network of tessera nodes using tools such as Quorum Maker, we need to allow the very first node to be created with no peers. The first node will then become part of a network by means of the other nodes having the first node in their url list.

For this reason we should allow the peer url list to be empty (currently, at least one node must be specified).

See associated issue # [57

[2018-12-27 09:08] SatpalSandhu61 opened #579 "Resend should also restore missing transactions for an originating node"
Currently, if a node loses its database then transactions are restored by means of the other nodes performing a resend for transactions where it is a participant.
However, if the failed node is the originator of the transaction, then those transactions won't be restored. See issue # [607](https://github.com/jpmorganchase/quorum/issues/607).
This represents a flaw in the restore mechanism and means

[2018-12-28 12:31] prd-fox commented on #517
Hashicorp has done a fair amount of refactoring on this front, and has been merged. Any future vaults which need refactoring will have it done as part of their ticket.

[2018-12-28 12:31] #517 closed, assigned to nobody

[2018-12-28 12:42] prd-fox commented on #529
Although the resend poller doesn't differentiate, it no longer causes an infinite loop, as as such the main issue is fixed.

[2018-12-28 12:42] #529 closed, assigned to prd-fox

[2018-12-28 13:59] prd-fox commented on #540
Not changing since this is an improper use of JAXB. Multiple names for the same thing should be done to differentiate types, not for natural language purposes.
Instead, care should be taken to follow the property files as it is specified.

[2018-12-28 13:59] #540 closed, assigned to nobody

[2018-12-28 17:31] #488 closed, assigned to melowe

[2018-12-28 17:31] prd-fox commented on #488
See related issue.

[2018-12-31 10:30] melowe opened #583 "Update /config/peers as part of node to node interaction"
`/config/peers ` we only added as a means for verifying add peer invocations made by the admin cli. While this verification should be distinct as an admin service, however providing a read only path to list all the peers in a current network (including those added during party info dialogues) is desirable.

[2018-12-31 10:44] prd-fox commented on #567
Hi Vince,

How is DNS set up in your AWS configuration?

For reference, I just set up 2 AWS instances and had them talk to each other using the default assigned public DNS names, and they communicated fine.

In your case, it looks like the underlying system is not able to resolve the hostname - are other services/applications on the machine able to connect to the host, or are you able to try? It d

[2019-01-02 10:12] prd-fox commented on #583
Adding some extra parameters that display the "last connected" time, and number of failed requests to the target. The aim is to give the user some extra context to determine if the peer is offline or not.

[2019-01-02 12:19] #541 closed, assigned to nobody

[2019-01-02 12:33] #578 closed, assigned to nobody

[2019-01-02 12:53] #576 closed, assigned to nobody

[2019-01-02 13:07] #583 closed, assigned to prd-fox

[2019-01-03 11:27] melowe opened #586 "Change maven group id to com.jpmorgan.quorum and other required config to deploy to maven central"
To be able to deploy to maven central we need to use a group id that maps to a domain name that we own or com.github.jpmorganchase ..

After some discussion we ended up requesting com.jpmorgan.quorum .

https://issues.sonatype.org/browse/OSSRH-45064

[2019-01-03 11:31] melowe commented on #586
Add gpg jar signing and other config required

[2019-01-04 19:47] zscole commented on #449
Build failure on Ubuntu 18.04/Java 8.

`[INFO] shared ............................................. FAILURE [  1.679 s]`

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M1:test (default-test) on project shared: There are test failures.`

[2019-01-04 21:46] zscole commented on #449
add `-DskipTests` flag to `mvn install`.
no tests, no problems.

[2019-01-07 10:11] melowe opened #590 "Create 0.8 release"
Place holder issue for 0.8 release so not to forget to comment on https://issues.sonatype.org/browse/OSSRH-45064

Assuming https://github.com/jpmorganchase/tessera/issues/586 is merged into 0.8. Maven release with deploy to staging repo only when a comment is added to the Sonatype lira issue OSSRH-45064 will the staging repo be synced with release repo.

[2019-01-08 10:07] prd-fox commented on #579
Using last comment above as a starting point, the solution would be:

1. Resend the tx from a receiving node back to the originator (using a new endpoint to identify the nature of this resend, maybe?)
2. Recreate the tx in the originating node as if it has no participants
3. Add the recipient that sent us this as one of the recipients
4. If another node sends us the same tx, add it as a recipient

[2019-01-08 15:45] #586 closed, assigned to melowe

[2019-01-09 15:14] prd-fox commented on #567
@vince16 any update to this?

[2019-01-09 17:08] Krish1979 commented on #567
@vince16 - if this is till an issue , please reopen

[2019-01-09 17:08] #567 closed, assigned to prd-fox

[2019-01-14 14:17] #543 closed, assigned to nobody

[2019-01-17 12:35] #590 closed, assigned to melowe

[2019-01-21 10:40] melowe opened #606 "Travis release automation"
1. Deploy snapshot after merging to master
2. Add/define process to invoke release:prepare/perform remotely.

[2019-01-21 12:59] chris-j-h commented on #568
Resolved with #587 and #605

[2019-01-21 12:59] #568 closed, assigned to chris-j-h

[2019-01-22 11:49] Krish1979 opened #609 "Revisit 'resend' transactions at the start of the network"
Currently all Tessera nodes request a resend at startup which is very laborious and not required during gracious shutdown. Rather it should be invoked only when the node detects data loss (DB failure/corruption) and after ensuring it has re-sync'ed with last known peer nodes from cache. The invocation should still be automatic but only on request and on need. The partyinfo to be updated to drop st

[2019-01-22 14:22] Krish1979 opened #610 "External key vaults integration - data recovery should include all previous verisons"
With the introduction of key vault management (HashiCorp) where we could maintain multiple version again a give key alias , when recovering that node after data loss, resend should include all previous versions of the key on the request to aid full data recovery.

[2019-01-23 10:08] samanshahmohamadi opened #613 "mvn install command not finishing: upcheck not started error"
Hi
I'm trying to run tessera on an ubuntu 18 machine using java 8. When I run the command `JAVA_HOME=/usr/lib/jvm/java-8-oracle/ mvn install`, I get the following message. The command does not exit but keeps retrying over and over for different port numbers and nodes.

[2019-01-23 10:11] samanshahmohamadi commented on #613
Detailed logs:

        at io.grpc.stub.ClientCalls.toStatusRuntimeException(ClientCalls.java:222)
        at io.grpc.stub.ClientCalls.getUnchecked(ClientCalls.java:203)
        at io.grpc.stub.ClientCalls.blockingUnaryCall(ClientCalls.java:132)
        at com.quorum.tessera.grpc.p2p.TesseraGrpc$TesseraBlockingStub.getUpCheck(TesseraGrpc.java:218)
        at transaction.grpc.GrpcSteps.lambda$null$

[2019-01-23 10:43] prd-fox commented on #613
There are extra logs inside `tests/acceptance-test/target/`, such as `nodeA.log` which should give a more detailed description as to why the node failed to boot. Are there any obvious errors inside there?

[2019-01-23 10:50] samanshahmohamadi commented on #613
There are 5 node*.log files from A to E and all of them are empty. Do I need to start another component before starting tessera?

[2019-01-23 11:54] prd-fox commented on #613
There is nothing else to start. What is the need to specify `JAVA_HOME`? Is Java not on the `$PATH` by default?

[2019-01-23 14:47] samanshahmohamadi commented on #613
My default java version is 10, which tessera couldn't be installed with it. So I have to use the java8 to install it.

[2019-01-23 15:33] prd-fox commented on #613
Ah right ok.
For the acceptance-tests (where this error occurred) it starts up instances of Tessera, but I am not sure if it would respect the JAVA_HOME passed in, and instead uses the system default, which could be failing.

A good way to validate would be to skip the tests to get the compiled jar (or download the one from the Releases page) and try and run it under JRE10.

Also, Java 11 should b

[2019-01-25 06:47] a651694192 opened #615 "Http Get /partyinfo URL “HTTP 405 Method Not Allowed”"
Be sure node itself runs well, but get /partyinfo return this error.
command is :   curl http://localhost:9001/partyinfo

[2019-01-25 09:12] prd-fox commented on #615
Which version of Tessera are you using?
The endpoint has both GET and POST methods, with the GET method only being available in 0.8, so I would expect to see this if you are running version 0.7.3 or earlier.

[2019-01-25 20:40] #579 closed, assigned to prd-fox

[2019-01-26 08:53] samanshahmohamadi commented on #613
I followed the instruction, built tessera jar file (and also downloaded jar file from github), and when running jar file I get one line message: `javax/xml/bind/annotation/XmlElement`.
I tried to run jar file with java 8 and 10 and for both, same result.

[2019-01-28 13:53] melowe commented on #606
Having added a placeholder script `deploy.sh` to capture all the variables required to decide whether its a release build or a deploy snapshot (merge to master). there is also the following that ca be used for executing remote releases .

[code]

The `deploy.sh` script needs to do the following.

if TRAVIS_EVENT_TYPE equals api and TRAVIS_JOB_NAME equals 'release'
`mvn -B -DpushChanges=false relea

[2019-01-31 09:57] Krish1979 opened #619 "Add acceptance tests for Tessera with SQLite"
To enhance acceptance testing to cater for both H2 and SQLite.

[2019-01-31 16:50] Krish1979 commented on #615
please update to latest jar and reopen ticket if it is still an issue

[2019-01-31 16:50] #615 closed, assigned to nobody

[2019-02-04 11:44] prd-fox commented on #613
Sorry for the delay.

Can you paste the output when running the downloaded jar under Java 8? I would only expect this issue to happen under Java 10.

[2019-02-05 11:06] #606 closed, assigned to melowe, SatpalSandhu61

[2019-02-05 18:05] harshal619 opened #622 "Address assignment issue for P2P"
Hello,

I am trying to build Quorum network between two server's using tessera.
First system is directly exposed to internet on which i have hosted first node including tessera node.

Second system is running on VM which is accessed using jump server.

While starting node i had to put 127.0.0.1 (localhost) address on this second system.
This works well for Geth node. Both nodes are connected an sy

[2019-02-06 09:44] prd-fox commented on #622
Can you share the config file for both nodes? Specifically the server settings and peers list?

[2019-02-06 11:45] harshal619 commented on #622
Hi @prd-fox

Attaching my server config files for both nodes.

[server-configs.zip](https://github.com/jpmorganchase/tessera/files/2836163/server-configs.zip)

BR,
Harshal

[2019-02-06 13:30] prd-fox commented on #622
Thanks. The configs looks mostly okay to me.

You say you are running in a VM, are you assigning the public IP of the the host machine or the VM? It looks like you are doing the host machine, but then you use the `bindingAddress` to be the host machine too - this should be the VMs internal IP which the host forwards requests to (and it should also contains the port number).

Can you edit the `bind

[2019-02-06 18:17] melowe commented on #512
https://github.com/jpmorganchase/tessera/pull/623

Adds most plumbing code for proxying enclave invocations behind a Websocket. Using a stateful protocol will allow us to add run status functions to enclave so the status can be checked before attempting process transactions.

Outstanding items
1. Add enclave factory that when reading configuration will create an Enclave client.
2. Test and address

[2019-02-06 18:29] melowe commented on #514
- Change current "app" classifier to "all" .
- Create slim build profile that doesn't include grpc and keystores (jar must still work as standlone just with more limited options).
- Create a spring boot launcher and jar,  albeit with attention not to add spring compile time dependencies beyond basic service location. We want to provide deployers options but keep spring as a packing option not a pr

[2019-02-06 18:33] melowe commented on #514
Related to https://github.com/jpmorganchase/tessera/issues/332

[2019-02-08 04:35] harshal619 commented on #622
Hi,

Tried putting 0.0.0.0 as binding Address and used public IP of host machine as hostName and it worked fine.
Thanks for your help.

BR,
Harshal

[2019-02-08 09:37] prd-fox commented on #622
No problem, glad it's sorted!

[2019-02-08 09:37] #622 closed, assigned to nobody

[2019-02-08 15:55] alexsplashex opened #625 "Issue with tessera in k8s"
Hy there
I use your quorum and tessera as a private blockchain network.
When working in the docker composite, everything works fine. However, at the start of 2 pods of tessera in the Kubernetes, a problem arose.
Services normally start and see each other only when using internal IP docker addresses

cat tessera-config.json:
[code]
...
[code]
If you use the Kubernetes services:

cat tessera-config.

[2019-02-08 22:48] dmytronasyrov commented on #625
A configuration that works in docker-compose. Peers are Compose DNS names
[GIST](https://gist.github.com/dmytronasyrov/195d8f6525fe04dfb629fdcf8a28aea3)

[2019-02-09 14:05] dhyansraj opened #626 "javax.xml.bind.DataBindingException on config-migration"
I am trying to implement 0.8 support in QM. Was getting duplicate field errors due to HashicorpKeyVaultConfig and after adding, @XmlAccessorType(XmlAccessType.FIELD) at class level the exception is changed to javax.xml.bind.DataBindingException: javax.xml.bind.PropertyException: eclipselink.beanvalidation.mode. I get same error on master branch as well without any modification.

What am I doing wr

[2019-02-10 17:47] melowe commented on #626
Hi

What java version or you using?

[2019-02-10 18:15] dhyansraj commented on #626
OpenJDK 8

[2019-02-10 18:44] melowe commented on #626
That is strange.

If you can if you can provide us us with the startup arts you’re using and your config we’ll try and replicate.

[2019-02-11 12:17] #626 closed, assigned to nobody

[2019-02-11 12:18] chris-j-h commented on #626
Hi,

There was an issue with the JAXB marshaller setup in the config migration utility causing this issue.  #627 resolves this and is now included in master.

For Tessera 0.8 the issue can be fixed by setting the following properties when using config migration: `-Djavax.xml.bind.JAXBContextFactory=org.eclipse.persistence.jaxb.JAXBContextFactory -Djavax.xml.bind.context.factory=org.eclipse.persist

[2019-02-11 12:35] Krish1979 commented on #625
Could you provide the full config,,

Sample config with  'BindingAddress` to `p2p` connection given below...
{
       "app":"P2P",
         "enabled":true,
         "serverSocket":{
            "type":"INET",
            "port":9080,
            "hostName":"http://10.103.203.18"
         },
         "bindingAddress":"http://0.0.0.0:9080"
         "communicationType":"REST"

[2019-02-11 13:50] Krish1979 commented on #613
Closing this issue. Please reopen if issue persists..

[2019-02-11 13:50] #613 closed, assigned to nobody

[2019-02-12 06:24] sdubey1396 opened #628 "Tessera connection with inbuilt database fail"
Tessera node connectivity issue with inbuilt database. Hence the quorum nodes are not running properly.

[2019-02-12 07:27] namtruong commented on #628
Could you please provide more details - which db, the setup, config, log, error messages, etc...

[2019-02-12 15:41] Krish1979 opened #631 "Test issue to test stale bot"

[2019-02-14 16:48] prd-fox opened #633 "Switch default behaviour for auto-recovery"
Currently, Tessera will, by default, make resend requests to all nodes in the network.
This is a resource intensive task for all nodes involved, and is not needed in normal running of the system.

In the case of recovery is needed, it can be turned on at startup.

[2019-02-14 16:53] prd-fox commented on #633
Dupe https://github.com/jpmorganchase/tessera/issues/609

[2019-02-14 16:53] #633 closed, assigned to nobody

[2019-02-15 16:53] alexsplashex commented on #625
Hi there.
Full tessera's config [here](https://gist.github.com/alexsplashex/2912d7394cb0371deb053b3d896ff482)

It works only with pod internal IP in k8s.
When using k8s cluster IP

[code]
tessera didn't comunicate

[code]

Do you need k8s's deployment and services configs?

[2019-02-15 20:30] jbhurat commented on #625
Hi @alexsplashex, it should work with k8s Service (cluster IP) as well. Can you please post your k8s configurations.

[2019-02-18 09:56] alexsplashex commented on #625
All necessary files are [here](https://github.com/alexsplashex/jpmorgan-tessera.git)

[2019-02-18 11:09] Krish1979 commented on #628
please provide sufficient details for investigation and raise an issue if still a concern..

[2019-02-18 11:09] #628 closed, assigned to nobody

[2019-02-18 13:42] prd-fox commented on #625
It looks like GRPC doesn't play well inside Kubernetes. I ran the setup you shared and no errors were being thrown when setting `REST` as the communication type. We will investigate what is happening with GRPC when run inside the container.

[2019-02-18 16:48] alexsplashex commented on #625
Do you mean that I should use  tessera-config.json [like this one](https://gist.github.com/alexsplashex/220e9887a0d8cac9cfa7f79b8d899f81)?

[2019-02-19 14:25] prd-fox commented on #625
Yes, just like that. Are you observing any connection errors when running with that? FWIW, I didn't see any.

[2019-02-19 15:30] alexsplashex commented on #625
Unfortunately, all the same errors
logs from node 1
[code]

logs from node 2
[code]

[2019-02-19 15:37] prd-fox commented on #625
There should be no GRPC logs at all if REST was specified. Are you sure the configuration updated correctly?

[2019-02-19 15:41] alexsplashex commented on #625
Course
tessera1 config
[code]

tessera 2 config
[code]

[2019-02-22 06:45] jiebanghan opened #638 "run the command mvn install, and the result has failure information"
hi ,please help me here, I am on windows10 and when I clone this repo and run the command mvn install, and the result has failure information  below. would you please give me some suggesion about how to solve it? thank you .

[INFO]-------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running com.quorum.tesse

[2019-02-22 06:48] jiebanghan commented on #638
java -version
java version "1.8.0_77"
Java(TM) SE Runtime Environment (build 1.8.0_77-b03)
Java HotSpot(TM) 64-Bit Server VM (build 25.77-b03, mixed mode)

[2019-02-22 07:06] jiebanghan commented on #638
mvn -version
Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-18T02:33:14+08:00)
Maven home: C:\tools\apache-maven-3.5.4-bin\apache-maven-3.5.4\bin\..
Java version: 1.8.0_77, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk1.8.0_77\jre
Default locale: zh_CN, platform encoding: GBK
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

[2019-02-22 09:20] prd-fox commented on #638
The issue looks like a permissions issue. The test tries to assign POSIX permissions, which don't exist in Windows, and an error gets thrown.

Until a solution is merged, the best thing to do would be to skip the tests during the build process by running `mvn clean install -DskipTests=true`.
Note that the tests exist because some parts of the code do try to assign POSIX file permissions, so you ma

[2019-02-22 17:16] #631 closed, assigned to nobody

[2019-02-25 11:41] melowe opened #641 "Use Jetty for grpc communication"
We need to keep an eye on this grpc issue as this would mean we could run on jetty like our other transports.

https://github.com/grpc/grpc-java/issues/1621

[2019-02-25 14:43] alexsplashex commented on #625
Hi there. Any updates?

[2019-02-25 15:33] prd-fox commented on #625
Hey. We are still investigating the GRPC issue, but the above config is fine. I'm guessing something hasn't refreshed properly after you updated the configuration, because the log says the GRPC is still starting up, which wouldn't be the case if all `serverConfigs` are set to `REST`.

How did you update the containers?

[2019-02-25 16:04] alexsplashex commented on #625
While I run the test with tessera in test mode, so I have the opportunity to remove all previous configurations and run everything from scratch.
In general, to update the configuration of the k8s, I use a command
[code]

[2019-02-26 22:38] Krish1979 opened #644 "Add acceptance tests for supporting raw transactions"
More acceptance tests required

[2019-02-27 12:27] melowe opened #646 "Acceptance tests"
New tests
- Add tests for rest over unix sockets (tag \@ipc)
- Add tests for enclave servers config (tag \@remote-enclave)

Tech debt
- Fix timing issues where thread sleep and address underlying issue
- set retry count to zero and make all suites pass
- Find solution for testing different databases

[2019-03-01 08:59] ymlbright opened #649 "DOS attack on tessera network"
Tessera provided an API named `/partyinfo` on tessera P2P port to discover all peers in network. Attackers can inject malicious address to tessera node with certain tessera public key, that could case private transaction failed if it's `privateFor` contains that public key. What's worse, there is no way to recover from this violation unless all tessera nodes down, because of each tessera node will

[2019-03-04 10:58] #638 closed, assigned to nobody

[2019-03-04 21:23] cucrisis commented on #649
Hi @ymlbright  thanks sharing the finding with us.  We are triaging it right now.

[2019-03-05 12:29] Krish1979 commented on #619
PR #645 fixes this.

[2019-03-05 12:29] #619 closed, assigned to namtruong

[2019-03-08 09:52] chris-j-h opened #654 "Travis builds failing intermittently due to log message volume"
Of the last 7 builds on tessera/master, 4 have failed with the following log message:

[code]

This appears to only be an issue with the master branch as the process of deploying to sonatype produces a large number of log messages.

The build should be tweaked to reduce the number of log messages.

[2019-03-11 15:17] melowe opened #655 "Allow tessera nodes to communicate via unix sockets"
At the moment rest over unix socket is supported as a communication transport between quorum and tessera, tessera nodes should be all to the the same. The the same is true for Admin.

[code]
Actions

1. Make code changes in tessera to support P2P servers to use unix socket file as server uri
2. Make code changes in tessera to support ADMIN servers to use unix socket file as server uri

[2019-03-15 11:19] chris-j-h commented on #654
mvn build logging was reduced as part of PR #653 - the travis build passed after being merged in to master so problem appears to have been fixed.  WIll close this issue and continue to monitor.

[2019-03-15 11:19] #654 closed, assigned to nobody

[2019-03-16 10:47] golashr opened #658 "Private Signed Transaction fails with latest Tessera config"
We have deployed a private contract using quorum.js using the latest tessera configuration as mentioned below
https://github.com/jpmorganchase/tessera/wiki/Tessera-v0.9-sample-settings

We have signed and submitted the transaction using quorum.js as described by the documentation. The transaction in question goes through without any problem as we can see from the nonce being increased. But for som

[2019-03-17 18:05] prd-fox commented on #658
Thanks for noticing. They are just meant to be samples, not entire working configurations. The reason this one doesn't allow private signed transactions is because there is no "Third Party" server included like the 0.8 version. I'll expand the sample and include a new wiki page for all the various server types.

[2019-03-17 18:06] prd-fox commented on #658
Oh no, it is there. I'll take a look.

[2019-03-17 18:07] prd-fox commented on #658
Third time lucky :) In the sample config is the "Third Party" server, which you haven't included in yours above, hence the endpoints are a not accessible.

[2019-03-18 09:38] golashr commented on #658
Thanks, Peter for addressing. We tried using this option as well. See below...

[code]
The testcode that we are using...

[code]
![image](https://user-images.githubusercontent.com/37144923/54520772-90e3b700-49bd-11e9-8bad-ed4cc48038e8.png)

We are still not able to retrieve the value from the desired node.

[2019-03-22 09:04] golashr commented on #658
@prd-fox Could you respond to the query please?

[2019-03-22 09:36] prd-fox commented on #658
Sorry, let me take another look then.

[2019-03-22 10:15] prd-fox commented on #658
Ok, I managed to get this working. Here are the changes I made:

1. In the `txnParams`, add the property `isPrivate: true` as indicated [here](https://github.com/jpmorganchase/quorum.js/blob/19820cc0b7966f2f895a7d1c6f5357b7a130e7bf/7nodes-test/deployContractViaHttp.js#L94), although the README doesn't have that, which I will edit.

1. Removed `pk1` from the `privateFor` array, as the sender key sh

[2019-03-22 13:58] prd-fox commented on #658
Updated README doc here:
https://github.com/jpmorganchase/quorum.js/pull/8

[2019-03-25 13:51] prd-fox commented on #658
Hope this has helped. Please re-open or create another issue if there is still a problem.

[2019-03-25 13:51] #658 closed, assigned to nobody

[2019-03-25 15:34] melowe commented on #641
We need to check if anyone is using GRPC. Now we've added a grpc only jar perhaps it would be a better idea to leave as experimental and not to worry about this. The original issue was create to track the GPRC change.

[2019-03-26 07:41] a651694192 opened #668 "Tessera migration error"
Tessera version: 0.9

using quorum-example/7nodes example, trying to migrate constellation to tessera, run ./stop.sh to stop the cluster, and use following script to do db migration:

**#!/bin/bash
set -u
set -e

for i in {1..7}
do
    DDIR="qdata/c$i"
    rm -f /home/zhou/go/src/github.com/quorum-examples/examples/7nodes/qdata/c$i/db$i*
    rm -f "$DDIR/tm.ipc"
    java -jar /home/zhou/go/src/git

[2019-03-28 12:11] prd-fox commented on #668
Hey.

There was an issue with the migration with version 0.8 (current release), where a new column that had been added wasn't included in the migration.

We have a solution we are testing right now (https://github.com/jpmorganchase/tessera/pull/671), but if you need this before it is merged, then you can treat the migration as a 2-step process.

1. Run the initial migration as you have done alread

[2019-03-28 15:48] melowe commented on #668
If you're building 0.9 from master the data-migration tool now included the timestamp column. This is an unreleased feature but if you do prefer having early access then you're more then welcome to try it out. Any feedback you have will is welcome.

[2019-03-28 18:26] melowe commented on #668
I you don't want to build there is also a snapshot jar published as part of a ci build

https://oss.sonatype.org/content/repositories/snapshots/com/jpmorgan/quorum/data-migration/0.9-SNAPSHOT/data-migration-0.9-20190328.175742-32-cli.jar

[2019-04-09 11:30] #512 closed, assigned to melowe

[2019-04-09 13:11] Krish1979 commented on #625
Please reopen if this is still an issue with REST

[2019-04-09 13:11] #625 closed, assigned to namtruong

[2019-04-12 10:19] EmanHerawy opened #697 "NoRouteToHostException"

[2019-04-12 10:23] #697 closed, assigned to nobody

[2019-04-16 14:58] prd-fox opened #699 "Keep code style consistent"
Currently we have a `checkstyle.xml` file along with the `maven-checkstyle-plugin`, which will run as part of the CI build and make known any style issues.

The checks can be expanded greatly and will improve code readability and maintainability, and will help keep pull request diff's smaller as auto-formatting between IDE's does not have as much impact.

_Generally_ the checks will be based on In

[2019-04-17 10:13] Krish1979 opened #702 "Remote Enclave to update TM when new keys are added real time"
We only fetch the keys that are advertised at startup of the Transaction Manager (TM). This means that if we are using a remote enclave, and we restart the remote enclave with a different keyset, then that is not reflected in the TM when we advertise what keys we own.

The Tessera Transaction Manager should always check what keys are available and advertise any new ones.

Removing keys is not inte

[2019-04-17 10:18] Krish1979 opened #703 "Enhance Enclave (both inline and remote) to add new key pair real time"
Provide ability for enclave to update / append key pairs realtime.

[2019-04-17 13:26] pmitra43 opened #705 "Unable to migrate data from constellation when payloads content is large"
When data-migration.jar utility is executed against the payloads directory of constellation, an `Exception in thread "main" java.lang.OutOfMemoryError: Java heap space` occurs, in case the data size is significantly higher than the heap memory allocated to the java process. This occurs due to all the files being loaded in memory before starting the migration.

Command:

`java -Xmx<max-memory-alloc

[2019-04-21 19:34] #668 closed, assigned to melowe

[2019-04-23 14:33] muthu-param opened #709 "Tessera Cross Origin Issues while calling the rest API ( /storeraw )"
We are using tessera for execute private transaction's in Quorum. When invoking the third party (privateURL) API from the postman, we are getting expected output. but when we are calling the same API's from the another server we getting empty response with 200 status code( http://:9081/storeraw). This issue is happening due to the CORS. we checked with File:/// it's working.

How to enable CORS fo

[2019-04-23 14:37] jiten-balla commented on #709
@fixanoid Can you please help us on this issue.

[2019-04-23 16:00] nicolae-leonte-go commented on #709
Setting CORS is not possible right now in Tessera. We'll add it to the backlog and let you know as soon as it is available.

For now please consider proxying the call via your server.

[2019-04-23 16:28] nicolae-leonte-go commented on #709
Alternatively if you are able to check out and rebuild tessera locally you can also try to add the response headers you need in com.quorum.tessera.thridparty.RawTransactionResource line 54:

Ex:
        return Response.status(Status.OK)
                .type(APPLICATION_JSON)
                .header("Access-Control-Allow-Origin", "*")
                .entity(response)
                .build();

Th

[2019-04-23 17:11] melowe commented on #641
Closing issue as seem more likely that GRPC will be dropped as a core option and will be left as a maintenance only or volunteer maintained module.

[2019-04-23 17:11] #641 closed, assigned to nobody

[2019-04-23 17:11] #646 closed, assigned to melowe

[2019-04-24 11:52] nicolae-leonte-go commented on #709
A CORS fix has been merged to master. You can get the latest docker image (snapshot build) using:
docker pull quorumengineering/tessera:latest

We intend to add configuration for the CORS domains - which will come in a later pull request.

[2019-04-25 09:15] #709 closed, assigned to nicolae-leonte-go

[2019-04-29 08:37] prd-fox commented on #705
Hi @pmitra43

I have submitted a PR to fix this issue - are you able to build it and try it out? Would be great to hear if this fixes your issue: https://github.com/jpmorganchase/tessera/pull/719

Thanks

[2019-04-29 12:02] #705 closed, assigned to prd-fox

[2019-04-29 13:42] prd-fox opened #722 "Key password overrides not applying correctly"
If passwords are being supplied in the overrides, they are not not being applied correctly to the keys they correspond too, resulting in the "missing key" error.

They should be applied correctly and decrypt the key.

[2019-04-29 13:43] prd-fox commented on #722
The passwords are applied during unmarshalling of the JSON configuration file, but the overrides are applied afterwards.

Performing the "password -> key" matching process after the overrides are applied, but before the validation is performed, would fix the issue.

[2019-04-29 14:56] #722 closed, assigned to prd-fox

[2019-05-03 11:05] prd-fox opened #725 "Exclude self from unseen parties list in SyncPoller"
Retroactive issue to link against

---

[2019-05-03 11:05] #725 closed, assigned to nobody

[2019-05-03 11:09] prd-fox opened #726 "Update Jetty version"
The Spotbugs plugin flagged an issue with the current Jetty version `9.4.10.v20180503`.

A newer version should be used to remediate this.

[2019-05-03 11:09] #726 closed, assigned to nobody

[2019-05-06 13:16] saikatsain opened #728 "Query on constellation to tessera migration"
We have existing instances running on constellation with Quorum.

Future Roadmap
<table>
<tr><th></th><th>Quorum</th><th>Constellation</th><th>Tessera</th></tr>
<tr><td>Since inception</td><td>ver. 2.0.1</td><td>ver. 0.3.2</td><td>-</td></tr>
<tr><td>May 2019</td><td>ver. 2.2.1</td><td>ver. 0.3.2</td><td>-</td></tr>
<tr><td>Future release</td><td>ver. 2.2.1</td><td>-</td><td>ver. 0.9</td></tr>
</t

[2019-05-07 08:06] saikatsain opened #729 "Tessera and passphrase protected keys"
We had the constellation ver 0.3.2 functionality where if incorrect passphrase is provided, the constellation node waits indefinitely for the correct password to be keyed in.

The same functionality  seems not to be present in tessera. Is there a possibility that this feature will be made available anytime sooner.

The background of the question is, we were able to securely pass the passphrase whe

[2019-05-07 10:19] prd-fox commented on #728
This seems more suited to Quorum than to Tessera.

You shutdown Quorum, perform the data migration to Tessera, and then restart Quorum point to a running Tessera instance. Is that correct?

[2019-05-07 10:25] saikatsain commented on #728
Yes, you are right. We have stopped the quorum and constellation processes. We have then migrated the private constellation data using data-migration utility to newly created mysql database schema. Updated the raft-start.sh to start tessera rather than constellation(created tessera configuration file) and started up tessera and quorum processes.

[2019-05-07 11:04] ylfly opened #730 "mvn install failure"
When running the _mvn install_ command, a failure in project **config** occurs as follows:
[ERROR] Tests run: 9, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.182 s <<< FAILURE! - in com.quorum.tessera.config.JaxbConfigFactoryTest
[ERROR] cantAppendToPasswordFileThrowsError(com.quorum.tessera.config.JaxbConfigFactoryTest)  Time elapsed: 0.035 s  <<< FAILURE!
java.lang.AssertionError:

Expect

[2019-05-07 11:50] namtruong commented on #730
The test above tests a specific case where file is not writable. Running the build with privilege will cause this test to fail.
Please make sure mvn build wasn't run as root. Or you can do a build with tests skip i.e. `-DskipTests=true`

[2019-05-07 13:25] saikatsain opened #731 "TLS strict runs into Factory method 'create' threw exception; nested exception is java.lang.NoSuchFieldError: xmss_SHA256ph on tessera v9"
We were able to start up tessera v8 with TLS on. However, we are running into issues with the same configuration file when using tessera v9.

Please see exception below
[code]
Please see configuration snippet below
[code]

Note: If we are turning off the TLS, then tessera starts up fine.

[2019-05-07 13:31] prd-fox commented on #728
Ok. If you stop Quorum/Constellation and start Quorum/Constellation again, does the issue happen? I am just trying to see if this is Tessera related or purely Quorum related.

[2019-05-07 13:43] saikatsain commented on #728
Yes, the block number changes to 0 and when the peer is started, the blockNumber becomes 1.

[2019-05-07 14:03] prd-fox commented on #729
Nice catch. This is definitely a feature that is needed. As for when, I don't have any timeline - if you get any spare time, pull requests are always welcome :)

[2019-05-07 14:06] prd-fox commented on #728
Ok, I will treat this as a Quorum issue rather than a Tessera one.

Are you able to provide details about your network? e.g. number of nodes, consensus mechanism used, number of validators if IBFT?

Are you doing this node by node, one at a time? Or all nodes at once?

[2019-05-07 14:10] prd-fox opened #732 "Bug using bundled DDL resources during data migration"
The data migration uses the sample DDLs to set up the database, as a sanity check that the DDLs are working and prevents an old schema being used during migration.

This is causing issues when run from the command line, as resources are packaged and not directly accessible. This is in contrast to an IDE, which has the compiled unpackaged and readily available.

[2019-05-07 14:50] saikatsain commented on #728
Number of nodes: 2
Consensus - raft
Quorum ver: 2.2.1
constellaiton ver: 0.3.2

I have stopped both the nodes and then started them one by one.

[2019-05-07 15:00] prd-fox commented on #728
This sounds very similar to https://github.com/jpmorganchase/quorum/issues/683
Can you look at that issue and see if it's similar?

I would suggest for now performing the migration on each node one by one, instead of stopping the entirely network together.

[2019-05-07 17:35] #732 closed, assigned to prd-fox

[2019-05-07 17:56] namtruong commented on #731
Hi @saikatsain , the issue is due to conflict in version of bouncycastle library being used. We've created a patch release to fix this.

Please see the referenced PR

[2019-05-07 19:42] #731 closed, assigned to namtruong

[2019-05-07 20:56] jbhurat commented on #728
@saikatsain, are you using docker quorum images by any chance. @trung and I noticed a similar issue while testing sometimes back

[2019-05-08 07:12] saikatsain commented on #728
@jbhurat I am not using docker images.

[2019-05-08 08:47] prd-fox opened #738 "POM/Travis/Other issues - 0.10.0"
Added enforcer rule for dependency convergence and fixed issues
Add a maven dependency checker for various things, including:

- duplicate dependencies
- duplicate classes
- circular dependencies
- ban vulnerable dependencies

-------------------------

EDIT: issue for general POM cleanup or documentation update for version 1.0, instead of creating a new issue for each small item (for now)

EDIT:

[2019-05-10 09:42] SriramRS opened #742 "Getting Out of memory"
**System information**

Geth version: 1.8.12-stable

OS & Version: Linux/Ubuntu

Branch, Commit Hash or Release: Quorum 2.2.1

**Description**

Getting out of memory exception in tessera while sending raw private transaction from web3j quorum.

_I am using quorum 7 nodes docker setup with raft `consensus` to create the network.

Please find below the error log file in tessera docker container.[tes

[2019-05-10 10:32] #730 closed, assigned to nobody

[2019-05-12 20:54] subhasisbanik opened #745 "Not able to locate files while running tessera"
I am trying to set up quorum-7 nodes which has a prerequisite of Tessera.
I am struck while trying to run
https://github.com/jpmorganchase/tessera#running-tessera

The path seems to have changed for the target jar and config.json is also not found.
Could you please fix this?

[2019-05-13 09:57] chris-j-h commented on #745
After running `mvn install` the Tessera jars are now located in `/tessera-dist` directory.

Thanks for pointing this out, I'll update the README.

`tessera-dist/tessera-app` is a "fat" jar and contains all dependencies you may need to run Tessera.  `tessera-dist/tessera-simple` is a stripped-down jar allowing you to add only the dependencies you need to classpath depending on how you are configuri

[2019-05-13 09:57] #745 closed, assigned to nobody

[2019-05-13 13:32] melowe commented on #729
It sounds like we'd also want this for the remote enclave as well as the tessera app jar.

The general issue of being forced to provide an arg 100% agreed. Prompting the user for input sounds fine. But 'waits indefinitely for the correct password' I think it should fail after N attempts.

[2019-05-15 09:05] prd-fox commented on #742
After talking offline, the cause was limiting the memory of Tessera to 128mb. After increasing the heap size, the issue went away.

[2019-05-15 09:05] #742 closed, assigned to prd-fox

[2019-05-15 13:52] Krish1979 commented on #728
Closing as issue is tracked as part of jpmorganchase/quorum#683

[2019-05-15 13:52] #728 closed, assigned to nobody

[2019-05-16 15:35] prd-fox opened #748 "InfluxDB not working with split server configs"
Issue with InfluxDB not working with the updated server configurations.

[2019-05-16 15:35] #748 closed, assigned to nobody

[2019-05-16 15:36] prd-fox opened #749 "InfluxDB to support 1-way SSL"
No SSL configuration was supported before, and Influx does not support 2-way SSL, so we should enable what we can.

[2019-05-16 15:38] #749 closed, assigned to nobody

[2019-05-16 16:07] chris-j-h opened #750 "Support InfluxDB authentication/authorisation"
1-way TLS communications between Tessera and InfluxDB is supported (Issue #749).

This secures communications but only provides server-validation to the client, i.e. the client (Tessera) can verify that it is sending to the correct server (InfluxDB) but the server is unable to verify the identity of the client.

This means that anyone with the InfluxDB CA cert is able to make requests to the Influ

[2019-05-17 14:24] #649 closed, assigned to melowe

[2019-05-22 04:09] niteeshhegde opened #756 "azure-key-vault fails while running mvn clean install -DskipTests=true"
mvn clean install -DskipTests=true  throws error

----------------------------------Environment------------------------------------------------------------------

JAVA 1.8
UBUNTU 18.04

------------------------------------------- Logs ---------------------------------------------------------------

[INFO]
[INFO] ----------------< com.jpmorgan.quorum:azure-key-vault >-----------------
[INFO] Buildi

[2019-05-22 08:23] ghost opened #757 "[Tessera] Could not commit JPA transaction : cannot read h2 db file with large content"
Tessera Version : 0.9
Quorum Version : 2.2.3

Expected Behaviour :
Tessera should be able to perform private transactions after restart and store in h2 db file of large size (5000 blocks)

Actual Behaviour :
[code]

Steps to reproduce :
1. Start 2 tessera nodes
2. Perform 5000 private for all transaction between the nodes
3. The h2 db file should be mounted so that all the private transactions are

[2019-05-22 08:42] chris-j-h commented on #756
Hi, this was fixed in master by #753 - the version of okhttp used has been updated.  Pull the latest from master and try again.

[2019-05-22 08:42] #756 closed, assigned to nobody

[2019-05-22 10:04] melowe commented on #757
hi. when you say mounted? do you mean local file system or some form of NAS or SAN? I'm not sure it matters I just want to get some insight into your setup.

[2019-05-22 10:09] ghost commented on #757
Its a simple docker setup with mounted local directories. I was able to replicate this error even with 500 blocks

[2019-05-22 10:35] melowe commented on #757
ok thanks.. and step 4. How to you restart tessera? a kill? or something else?

[2019-05-22 10:39] ghost commented on #757
just docker-compose down and then docker-compose up -d

[2019-05-22 11:12] melowe commented on #757
ok cool.. have you tried to replicate in a non containerised environment? sorry for all the questions.

[2019-05-22 16:33] ghost commented on #757
no, have not tried to replicate it in a non containerised environment

[2019-05-23 10:32] Krish1979 commented on #757
Preet - we have been running with H2 will millions of transactions in our local setup and it is strange you are facing this for 500 blocks. Could you try to replicate in non-container platform and confirm you are still facing this before we could investigate any further.

[2019-05-23 16:05] chris-j-h opened #760 "Review and refactor Tessera CLI code"
Future plans will expand the functionality of the admin cli.

The CLI code should be modularised up to make it easier to make changes to existing/add new CLIs in the future.

[2019-05-24 03:47] ghost commented on #757
Hey @Krish1979 @melowe I have tried replicating it in a non-containerised environment and have not been able to do so. Closing the issue for now. Will open once I reach the root of this.

[2019-05-24 03:47] #757 closed, assigned to nobody

[2019-05-24 06:13] prd-fox commented on #757
Worth noting that by default Docker will kill any process after 10 seconds when shutting down. Try increasing the timeout and see if that helps.

[2019-05-24 09:45] chris-j-h opened #761 "Unable to override arrays using the config override CLI"
There is an issue with applying overrides to arrays.

For example consider a configfile containing 4 `serverConfigs` in the order `ThirdParty`, `ADMIN`, `Q2T` and `P2P`.  If you want to override the `serverAddress` for the `ThirdParty` and `ADMIN` servers you would run
[code]
However, the resulting config contains only the `ThirdParty` and `ADMIN` servers (i.e. `Q2T` and `P2P` configs are lost) an

[2019-05-24 09:50] chris-j-h opened #762 "Improve usability of config override/default CLI"
There are a large number of CLI options and the Tessera usage (`tessera --help`) is could do with some user friendly formatting for better understanding...

<details>
 <summary>Click to see current Tessera usage</summary>

[code]
</details>

Possible areas for improvement are:

* Be able to specify exactly which property in an array to override, e.g.
[code]
    instead of
[code]
* The config CLI d

[2019-05-28 10:45] chris-j-h commented on #760
Resolved by #754

[2019-05-28 10:45] #760 closed, assigned to nobody

[2019-05-28 14:34] prd-fox opened #764 "Switch Argon2 library to BouncyCastle"
Version `1.61` of `bcprov-jdk15on` contains an Argon2 implementation.

We should switch to using this for the following reasons:

- it is a more popular (and thus used/tested) library
- it will mean one less dependency Tessera needs
- there is no need to rely on an underlying C library. Although the current dependency supports a lot of systems, it is still limited.

[2019-05-28 14:39] prd-fox commented on #764
If/when this is done, the test from the library shows the usage:

https://github.com/bcgit/bc-java/blob/master/core/src/test/java/org/bouncycastle/crypto/test/Argon2Test.java

[2019-05-29 16:31] #729 closed, assigned to prd-fox

[2019-05-29 16:48] chris-j-h opened #770 "Recipient data not always removed on resend"
When the original sender of a payload receives a resend request they retrieve the payload from their DB and resend it to the requester.  The original sender is not currently pruning the payload before they resend it to the requester.  This means that the payload the requester receives contains the public keys of all original recipients and their corresponding recipient boxes.

The sender must prun

[2019-05-30 09:12] chris-j-h commented on #770
Resolved in #766 and #769

[2019-05-30 09:12] #770 closed, assigned to nobody

[2019-05-30 09:59] prd-fox opened #773 "Support stateful network information"
The current model of the Tessera network is that all nodes information is kept indefinitely (until a restart). This means that over time, the network information can be filled up with old and dead nodes that no longer exist.

This is exacerbated by the fact that this old information is propagated to any new node that joins the network.

---

This information should be detected and removed, so that

[2019-05-30 15:50] Krish1979 commented on #644
Acceptance test added to quorum-acceptance-tests
https://github.com/jpmorganchase/quorum-acceptance-tests/pull/7

[2019-05-30 15:50] #644 closed, assigned to nobody

[2019-06-03 07:20] lipka00 opened #775 "mvn install security error"
Hello there, I was trying to install Tessera with mvn install, but unfortunately without success because of a security error. In which file I have to add my host to a known host?
Thanks-

Java:
$ java -version
openjdk version "1.8.0_201"
OpenJDK Runtime Environment (build 1.8.0_201-b09)
OpenJDK 64-Bit Server VM (build 25.201-b09, mixed mode)

Maven:
mvn --version
Apache Maven 3.5.4 (1edded0938998e

[2019-06-03 22:47] namtruong commented on #775
@lipka00 the issue seems to be because the HostnameUtil cannot work out your hostname (for certificate generation), one possible reason would be hostname is not in file `/etc/hosts`.
If this is the case you can modify the file to have `127.0.0.1  [hostname] localhost`

[2019-06-05 06:48] shivamanmadha opened #785 "Building Tessera after cloneing getting errors mvn install"

[2019-06-05 07:12] #785 closed, assigned to nobody

[2019-06-05 07:12] shivamanmadha commented on #785
mvn clean install -DskipTests=true

[2019-06-11 10:11] namtruong commented on #775
Close due to inactivity

[2019-06-11 10:11] #775 closed, assigned to namtruong

[2019-06-12 10:04] chris-j-h opened #787 "Automate GitHub release creation"
#786 made changes to the `travis.yml` to enable automatic creation of tags and deployment to Maven Central repository.

It should be possible to add an additional Travis build stage to automate the creation of a GitHub Release and link it to the newly created tag.

See [Travis deployments](https://docs.travis-ci.com/user/deployment/), specifically [GitHub Releases](https://docs.travis-ci.com/user/

[2019-06-12 10:22] prd-fox opened #789 "Remove deprecated server configuration"
The server configuration has been deprecated and should be removed with the next major version.

This configuration style was used in versions 0.6 and 0.7, with automatic conversion happening for versions 0.8 and 0.9.

As of version 1.0, the conversion will not happen and only the new style will be accepted.

[2019-06-13 08:50] prd-fox opened #790 "Do not restrict number of Q2T servers"
The number of Q2T (Quorum-to-Tessera) servers is currently restricted to needing at least 1.

If we allowed no Q2T servers, then a Tessera node could act as a bootnode (a publicly known known node that all members could list in their initial peers, in order to bootstrap into the network), or as an archival node using the `alwaysSendTo` configuration parameters of a "sister node".

[2019-06-13 10:18] prd-fox opened #792 "Passwords should be char arrays"
Currently, passwords are passed around the application as strings.
Since strings are interned by the JVM, the password will remain in memory - potentially - indefinitely.

The password is read from the console as a char array, which can be overwritten with null values are it is used, and so no trace is left in memory after garbage collection is performed.

This limitation is currently known and ac

[2019-06-13 17:32] melowe commented on #790
To achieve this we would need to start the node in a specialised mode so we validate that always send to. Likewise when the user starts in "normal" mode we cannot lose the Q2T required validation.

[2019-06-13 17:41] prd-fox commented on #790
What is the benefit of forcing the mode?

There is nothing different about a node that is only intended to be a recipient, and whose data is never retrieved by a Quorum node. All of the participants (the sender or the receiver) doesn't know what it's role is in the transaction, which is a good thing - we don't leak any data about the transaction or the type of node we are running, and it means tha

[2019-06-14 11:50] jiebanghan opened #799 "Failed to execute goal on project enclave-api: Could not resolve dependencies for project com.jpmorgan.quorum"
when I run mvn clean install -Dcheckstyle.skip=true  -DskipTests, then it shows me below,can you help me ?thank you

[WARNING] The POM for com.jpmorgan.quorum:key-pair-converter:jar:0.10-SNAPSHOT is missing, no dependency information available
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for tessera 0.10-SNAPSHOT:
[INFO]
[INFO] tessera ....

[2019-06-14 12:17] prd-fox commented on #799
Hey. This was an issue after a merge yesterday, but we reverted it today. You must have checked or updated the project at just the wrong time :P

Can you pull latest master and try again?

[2019-06-15 04:21] subhasisbanik opened #802 "Error: EOF undefined while trying to transact privately between 2 peers"
Geth version: 1.8.18-stable
Quorum version: 2.2.3
Go:1.10.3
Tessera version: 0.9

I have used the latest tessera docs
https://goquorum.readthedocs.io/en/latest/Privacy/Tessera/Configuration/Configuration%20Overview/

To set up 3 peers.
Below is the tessera-config.json for node 1(similar for node 2 and node 3 with only changes in ip):
----------------------------------------------------------------

[2019-06-15 04:54] subhasisbanik commented on #802
Also saw this error in geth log:
ERROR[06-15|04:52:25.116] goroutine 375 [running]:
github.com/ethereum/go-ethereum/rpc.(*Server).serveRequest.func1(0xc421718870, 0x123ed80, 0xc420d79810)
        /home/ubuntu/quorum/build/_workspace/src/github.com/ethereum/go-ethereum/rpc/server.go:132 +0xf4
panic(0xf24980, 0x19a9290)
        /usr/local/go/src/runtime/panic.go:502 +0x229
github.com/ethereum/go-eth

[2019-06-17 10:02] jiebanghan commented on #799
thank you ,I will try it.

[2019-06-17 12:52] namtruong commented on #802
Can you please also share Tessera logs?

[2019-06-18 10:10] jiebanghan commented on #799
ok, done.

[2019-06-18 10:11] jiebanghan commented on #799
but after compilation I hava no config.json, how to achieve it ?thank you .

[2019-06-18 10:26] prd-fox commented on #799
You need to create your own, based on your network setup, and what features you require.

An example setup is provided [here](https://github.com/jpmorganchase/quorum-examples/blob/master/README.md#running-the-7nodes-example). After running `./raft-init.sh`, you will see a sample config located at `./qdata/c1/tessera-config-09-1.json`.

[2019-06-18 10:27] jiebanghan commented on #799
thank you very much .

[2019-06-18 10:51] prd-fox commented on #799
Since all questions seemed to be solved, I am closing this issue. If you have any other questions, feel free to create a new issue. Thanks.

[2019-06-18 10:51] #799 closed, assigned to prd-fox

[2019-06-18 11:48] subhasisbanik commented on #802
11:47:34.704 [qtp391479787-23] INFO  c.q.t.server.jaxrs.LoggingFilter - Response for partyinfo : 200 OK
11:47:36.705 [qtp391479787-26] INFO  c.q.t.server.jaxrs.LoggingFilter - Enter Request : POST : /partyinfo
11:47:36.708 [qtp391479787-24] INFO  c.q.t.server.jaxrs.LoggingFilter - Enter Request : POST : /partyinfo/validate
11:47:36.711 [qtp391479787-24] INFO  c.q.t.server.jaxrs.LoggingFilter - Exi

[2019-06-18 13:21] namtruong commented on #802
The above are just normal partyinfo synchronising messages. Please check for any error messages in Tessera log during the time you sent the private transaction

[2019-06-18 17:46] subhasisbanik commented on #802
Yes that is the thing, except for the panic in geth log, there isnt anything in tessera.

[2019-06-19 15:18] namtruong commented on #802
It looks like you have Quorum and Tessera both up and running. Tessera nodes are also in sync with each other  so nothing seems wrong.
However in this case Quorum is not connecting to Tessera somehow. I would suggest checking the location of the ipc files if they are correct - might be worth running a curl via ipc i.e. `curl http://localhost:9081/upcheck --unix-socket <ipcfile>` and check the resp

[2019-06-19 16:36] subhasisbanik commented on #802
@namtruong :
I ran :
curl http://localhost:9081/upcheck --unix-socket /home/ubuntu/node/datadir/tm.ipc
and got :
I'm up!

Is this the correct response?
I think I noticed that is different:
I ran the script with PRIVATE_CONFIG and geth command in different lines:

ARGS="--nodiscover --verbosity 5 --raft --rpc --rpcaddr 0.0.0.0 --rpcapi admin,db,eth,debug,miner,net,shh,txpool,personal,web3,quorum,ra

[2019-06-19 17:00] namtruong commented on #802
That's the correct response so Tessera is also up and running. I'm not sure what else could be wrong to be honest. Please can you send details the steps/commands on how you sent transactions?

[2019-06-19 17:17] namtruong commented on #790
Perhaps we can have an additional field in the `Config` object to specify the optional `archive` or `backup` mode ? If this is switched on the ServerConfigsValidation can be loosen to have Q2T >= 0 - or actually it should only allow Q2T = 0

[2019-06-19 17:27] prd-fox commented on #790
Me and Mark had a discussion and decided we should have some sort of flag. However, I haven't decided what flag to use. The examples of "archive" or "backup" nodes were just that - examples. I don't want to confuse users that these are special modes Tessera has, or that the same configuration that makes it a "backup" node means that the same configuration doesn't have other uses too.

[2019-06-19 18:25] subhasisbanik commented on #802
I am trying to run the web3deploy for a simple getter setter contract as below:
var testContract = web3.eth.contract([{"constant":false,"inputs":[{"name":"_val","type":"uint256"}],"name":"setValue","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"getVal","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"vi

[2019-06-19 19:14] subhasisbanik commented on #802
Also in nodes which are not calling private transaction, I see the below log:

TRACE[06-19|19:11:15.091] New dial task                            task="staticdial bf1ebedbc5994397 <otherip>:0"
TRACE[06-19|19:11:15.092] Dial error                               task="staticdial bf1ebedbc5994397 <otherip>:0" err="dial tcp <otherip>:0: connect: connection refused"

Note, I have replaced my ip with <ot

[2019-06-20 09:14] chris-j-h commented on #790
Perhaps keep the flag general and explicit - `allowNoQ2T` or `disableQuorumCommunication`, something along those lines.

[2019-06-20 09:18] prd-fox commented on #699
Closing this in favour of [Boy Scout Programming](https://deviq.com/boy-scout-rule/)

[2019-06-20 09:18] #699 closed, assigned to prd-fox

[2019-06-20 09:20] prd-fox commented on #790
@chris-j-h that sounds like a good idea

[2019-06-20 09:27] chris-j-h commented on #802
This will likely cause issues, `PRIVATE_CONFIG` is an environment variable that `geth` needs in order to use the privacy manager.

If it's on a separate line to the `geth` command then `geth` won't have access to that environment variable.  Try again either with `PRIVATE_CONFIG=datadir/tm.ipc` on the same line or if you want it on a separate line try `export PRIVATE_CONFIG=datadir/tm.ipc`

[2019-06-21 03:34] jiebanghan opened #803 "Waiting until all Tessera nodes are running..."
System information
Geth version: geth version
Version: 1.8.18-stable
OS & Version: Windows/Linux/OSX
Linux ubuntu 4.15.0-51-generic #55-Ubuntu SMP Wed May 15 14:27:21 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

when I compiled tessera , and then I run the command below:
./raft-start.sh tessera --tesseraOptions "--tesseraJar /home/sundongyi/go_project/tessera-master/tessera-dist/tessera-app/target/tes

[2019-06-21 06:25] #803 closed, assigned to nobody

[2019-06-21 11:56] golashr opened #804 "Tessera process continue to throw exceptions and private transactions don't go through on distributed node/+ tessera setup"
System information
Geth version: 1.8.18-stable
Quorum version:quorum-v2.2.3
Tessera version: quorumengineering/tessera:0.9.1
OS & Version: Linux/OSX
Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-47-generic x86_64)

We have Geth+Tessera nodes deployed on distributed machines. Peer tessera nodes are mentioned in the peer list of tessera-config.json of each tessera node. The issue is, the tessera node discove

[2019-06-21 15:13] prd-fox commented on #804
Hey.

Two things here:
1. I agree that the logging can be a bit verbose with disconnected peers, especially since you have intentionally shut those nodes down for good.

2. Can you elaborate on `tessera discovers peer nodes outside the specified peer network`? Is this a fully controlled network? I am curious to know how unknown nodes got into the network list. You may be interested in this: [disab

[2019-06-24 13:45] golashr commented on #804
Thanks, @prd-fox. Well, we are building an open blockchain network with tesseras so we have to keep the discovery ON. So we have multiple such networks running and node of one network seem to discover nodes of other networks, as I described above.

In one of our blockchain setup, we have tessera nodes running with Docker containers which are obviously given internal bridge IP address i.e. 172.*. P

[2019-06-24 15:00] prd-fox commented on #804
Okay, so discovery must remain on, presumably because you may be adding other nodes to that network in the future?

You have multiple networks, but they must not cross over. I am imagining a scenario like this:

Network1:
172.0.0.1:9000
172.0.0.1:9001
172.1.0.1:8000

Network2:
172.0.0.1:28000
172.1.0.1:28001
172.2.0.1:28002

Now the problem is that the two networks have somehow crossed over to cre

[2019-06-24 15:10] golashr commented on #804
Yes, the network will look like this.
Let me give another scenario which is not cross blockchain network but on the same network.
Let's say, there are four 172 nodes setup on the same machine. They are able to write private transactions to each other. Further, I add one more node to the existing setup from remote machine e.g. 121.* Now, the new node will have 172* peer node in its peer list thru *

[2019-06-24 15:28] prd-fox commented on #804
It makes sense.
The 121.* node doesn't have anyway to communicate with the 172.* nodes, even though they are part of the same network.

This is a misconfiguration, since the Docker containers should be set up with an externally accessible IP address, but I agree that the extra log noise is annoying. We will look to reduce that.

Additionally, in the scenario I gave above, the only way for the netw

[2019-06-25 13:22] prd-fox opened #805 "Extra logging for errors"
The `DefaultExceptionMapper` is providing the stack trace at the debug level.
This means that trying to diagnose issues can be troublesome without knowing where they occurred in the application.

Additionally, the `PartyInfoPoller` doesn't tell us the URL when a  general exception happens. This should be changed to be the same as the `ConnectException` clause.

We can either:
- increase the level

[2019-06-25 13:43] golashr commented on #804
@prd-fox I submitted a pull request for this ticket. You can review and accept. Of course, we need to make one change, which is more universally accepted field name than "**ledgerID**" which is used in the code at present.

[2019-06-25 15:34] prd-fox commented on #804
Hi @golashr,

We discussed the PR within ourselves and came to the conclusion that we are specifically targeting a _permissioned_ environment rather than a public, non-permissioned one. Since in a permissioned environment, all the nodes should be happy to connect to each other, with other settings (such as the peer discovery flag, TLS certs) used to keep unwanted participants out.

I have created

[2019-06-25 15:36] prd-fox commented on #805
There can also be too much logging when peers are unable to connect. Although it is useful to report this, it can quickly overwhelm the logs with duplicate info. We should find a way to report the error fully once within a time period, and then a limited amount of info for the same message. See https://github.com/jpmorganchase/tessera/issues/804 and https://go-quorum.slack.com/archives/C825QTQ1Z/p

[2019-06-26 01:16] golashr commented on #804
@prd-fox I am not sure how logging or setting it up with TLS certs will help the cause. Peer discovery can't be off as I explained before. TLS will only secure the network traffic but tessera node will still connect with externally accessible IP addresses. Appreciate if you can keep the issue open for further discussion. Thanks.

[2019-06-26 09:13] prd-fox opened #807 "Move the advertised address out of server configuration"
Currently, the URL that is advertised to other peers with our public keys is taken from the P2P server configuration, as the `serverAddress` property.
In order to be able to bind to a different address, the `bindingAddress` property was introduced.

Since the advertised address isn't directly linked to the server configuration (although there is an indirect link to the `P2P` server), it could make

[2019-06-27 09:41] chris-j-h commented on #805
Another way to reduce the noise when logging errors is to make the distinction between critical and non-critical errors.  Being unable to connect to a peer is an error but does not necessarily require immediate concern/action.

[2019-06-27 09:44] subhasisbanik commented on #802
@chris-j-h Thanks for the help. That worked. I am able to mine private transactions. Hence closing this issue.

[2019-06-27 09:44] #802 closed, assigned to nobody

[2019-06-27 09:50] subhasisbanik opened #808 "Issue when geth is pushed with large number of transactions"
I am running a web3j layer to push public transactions sequentially to a 10 peer quorum network continously with 8 core 15GB RAM and 100GB SSDper node.
Now after approx 50k txns per node, I observe that the geth stops responding with contract addresses(i.e. transaction confirmation) though there are no errors in log.
I have to stop and start geth to make it up and running.
Now with that maintenanc

[2019-06-27 10:07] Krish1979 commented on #808
Could you please raise this issue against Quorum repo.,

[2019-06-27 10:07] #808 closed, assigned to nobody

[2019-06-27 13:21] vdamle opened #809 "Unique index or primary key violation error on private transactions"
Quorum version: 2.2.3
Tessera version: 0.8 + https://github.com/jpmorganchase/tessera/pull/688
JDK: openjdk 11.0.3

We are hitting the following error when participants in the network send private transactions to one another:

[code]

Some details about the chain:

* Each node runs with it's own instance of H2 db. Nodes use a CA signed certificate
* Nodes are migrated from constellation to tessera

[2019-06-27 13:42] namtruong commented on #809
Hi - can you upload full logs of both the node that's sending transactions and the privateFor node. Also how the transactions are being submitted... We'll take a look thanks

[2019-06-27 15:10] vdamle commented on #809
[constellation-node1.log](https://github.com/jpmorganchase/tessera/files/3335388/constellation-node1.log)
[constellation-node2.log](https://github.com/jpmorganchase/tessera/files/3335389/constellation-node2.log)

From the logs it looks like the transaction `vcjlJmzPyCW+wSd/xIJXi9IxYfPrZwrfJ1+8C8yo1JSWR2eikTSZoJPMB0oq0v/8CitxtMCnBaZOdfBt7mCQrw==` was submitted in constellation land. I can't quite t

[2019-06-28 09:25] Krish1979 commented on #809
it could well be. I think there is no conclusive evidence that this is from send request and so this is down to time of migration and restart. Like discussed, please upgrade to Tessera 0.9 where auto sync is disabled and you shouldn't get these errors.

[2019-06-28 09:25] #809 closed, assigned to nobody

[2019-07-02 04:37] vdamle opened #811 "NullPointerException on /upcheck with unix socket Q2T server"
Tessera Version: 0.9.2+ (latest on master)
Quorum version: 2.2.3

Using the latest code on master, I have Tessera running with Q2T server bound to a unix socket:

[code]

Logs suggest that the unix socket was opened fine. However, a call to `/upcheck` by sending the string specified here: https://github.com/jpmorganchase/quorum/blob/v2.2.3/core/private_state_test.go#L242 returns with a `500` error

[2019-07-02 09:16] prd-fox commented on #811
The configuration looks good. The error is certainly odd, since it comes from the underlying library that handles the socket. Indeed a hostname/port isn't needed, but the library should be handling that.

I haven't yet been able to reproduce this issue, here are some of things I've tried:

1. `printf 'GET /upcheck HTTP/1.0\r\n\r\n' | nc -Uv qdata/c1/tm.ipc | tail -n 1`
2. `curl --unix qdata/c1/tm.

[2019-07-02 10:42] #805 closed, assigned to nobody

[2019-07-02 10:53] subhasisbanik opened #812 "Process to add new tessera geth peer dynamically"
I have built a network with say 3 peers where each peer contains a tessera and geth running.
I have added admin.addPeer(), raft.addPeer() and also passed the detail in tessera-config.json.

Now after having all the peers set up, I wish to add 1 more peer.
What should be the step to do that? Do I need to stop all Tessera running in the previous machines to add the new peer?

[2019-07-02 10:59] prd-fox commented on #812
This depends on your configuration.

If you have `disableAutoDiscovery` set to `false` (or the property is omitted from your config), then all you have to do is add one of the existing peers to the new Tessera node.
When the new Tessera node starts, it will communicate with the existing node, and then distribute that data to the others.

If you have `disableAutoDiscovery` set to `true`, then you w

[2019-07-02 11:04] subhasisbanik commented on #812
Great thanks. I will surely try it out.
Regarding "disableAutoDiscovery" set to true, if I choose to use option 2 ("add the new node's address without restarting by using this API"), can I perform that using any http call? If yes, can you please help?

[2019-07-02 11:10] prd-fox commented on #812
Absolutely.

It requires that you have set up an Admin App in the configuration, in order to access this API. If you have not done that, then please see [this link](http://docs.goquorum.com/en/latest/Privacy/Tessera/Configuration/Configuration%20Overview/#server).

Then, you can do a `PUT` request to `http://<your-url>/config/peers` with the body:
[code]

Note: this will add the peer to your confi

[2019-07-02 13:29] vdamle commented on #811
This error is consistent for me. The check never returns a success, I poll that URL before starting quorum, as a way to determine that Tessera is ready.

[2019-07-02 13:47] prd-fox commented on #811
Do both of the commands above give the error?

As I mentioned, so far I am unable to reproduce this.

Are you able to share your full configuration and which OS you are using?

[2019-07-02 18:41] vdamle commented on #811
Thanks, @prd-fox . The 2nd URL works for me. Running Tessera on a Linux OS running in docker/kubernetes. I have changed the way we check the `/upcheck` endpoint and quorum starts fine now as well.

[2019-07-03 17:46] #811 closed, assigned to nobody

[2019-07-09 11:00] prd-fox commented on #804
I'm still thinking in terms of permissioned networks, which yeah I guess you're not using here.

[2019-07-09 11:03] prd-fox commented on #804
After reviewing this again with the team, we came to the decision to still not merge this.
The change makes sense for your use-case (non-permissioned networks), but that isn't the use case we are targeting.
I can empathise not wanting to maintain a second codebase yourself, but we don't want to add anything that may cause connectivity problems + debugging time for something that we don't intend to

[2019-07-10 09:05] Krish1979 commented on #804
@golashr - Do you have any more comments/questions before we close this issue ?

[2019-07-12 12:15] #812 closed, assigned to nobody

[2019-07-15 12:19] Krish1979 commented on #491
[Tessera HA Configuration Overview.pptx](https://github.com/jpmorganchase/tessera/files/3392207/Tessera.HA.Configuration.Overview.pptx)

[2019-07-15 15:13] Krish1979 commented on #491
Attached document describe how to setup a cluster of Tessera Node for single Quorum node generic for any load balancing solution

[2019-07-15 15:13] #491 closed, assigned to namtruong

[2019-07-15 15:33] #804 closed, assigned to prd-fox

[2019-07-17 15:52] melowe opened #819 "Jackson databind version security problem"
[CVE-2019-12814] Information Exposure

A Polymorphic Typing issue was discovered in FasterXML jackson-databind 2.x through 2.9.9. When Default Typing is enabled (either globally or for a specific property) for an externally exposed JSON endpoint and the service has JDOM 1.x or 2.x jar in the classpath, an attacker can send a specifically crafted JSON message that allows them to read arbitrary loca

[2019-07-17 23:17] #819 closed, assigned to nobody

[2019-07-26 10:37] Krish1979 opened #830 "Add password encryption for jdbc credentials"
Having cleartext for password for database configuration isn't ideal for production implementation. Requirement to add password encryption and document the steps on how to store secrets/actual password with proper admin account access and start Tessera with correct access rights for the location.

[2019-07-26 14:50] prd-fox opened #831 "Add versioning to configuration"
In order for users to know what version their configuration is compatible with, and for us to perform checks depending on the configuration version, it is useful to perform different validation rules.

Adding `"version": "0.10-SNAPSHOT"` means that the configuration was created using this version, and any rules specific to this version should be enforced. It could also be used to prevent future co

[2019-07-26 14:54] #831 closed, assigned to nobody

[2019-07-26 15:16] prd-fox opened #832 "Remove response for network node information ("PartyInfo")"
When Tessera accepts a request to `POST /partyinfo`, if will add the provided information to its local cache, and then respond with the entire contents of the cache, so that the requesting node can potentially find out about any new nodes it didn't know before, all within a single request (which saves round trips).

With the addition of the node key validation (https://github.com/jpmorganchase/tes

[2019-07-26 15:17] prd-fox commented on #832
This change should be backwards compatible, due to a null response being returned, which is ignored by older versions.

[2019-07-26 15:22] #832 closed, assigned to nobody

[2019-07-26 15:30] prd-fox opened #833 "Add feature toggles"
As new features are introduced into Tessera, some of those features may be backwards-incompatible, may be classed as experimental, or otherwise not meant to be used in production.

Adding configuration to toggle these features on or off will allow features to be added without it impacting releases, since the code won't be live. It will also allow users who are not concerned about backward incompat

[2019-07-26 15:31] #833 closed, assigned to prd-fox

[2019-07-31 11:05] melowe opened #838 "Transaction manager resend method"
The code in the resend method needs rewriting so that the logic it clearer and there are less logical branches. Starting with test rather than retro fitting one will reveal the high branch count and complexity.

1. Dispatch to separate function that handles ALL from INDIVIDUAL resends.
2. Find and implement a more elegant means of buffering resends.

Create helper/delegate objects if required. The

[2019-08-03 13:21] prd-fox opened #842 "Fatal node sync call stops subsequent calls"
When the PartyInfo poller makes requests to other nodes there are two classes of exceptions that can occur, general connection issues and then other, more serious issues.

A simple connection issue gets logged and passed over, as this is expected to happen from time to time, and all other exception types were presumed to be ephemeral and eventually resolve. We throw this error back up the call sta

[2019-08-03 13:30] prd-fox commented on #842
One example when this can occur is inside a Docker network, where the target does not exist.

Generally these scenarios are very rare, and workarounds such as removing the fault peer entry from the config will enable at least a one time sync to the network.

[2019-08-05 09:34] #842 closed, assigned to prd-fox

[2019-08-06 14:54] prd-fox opened #846 "Add Jasypt property encryption"
The configuration file contains many passwords (database, TLS certs, keys) that should not be plaintext. Using Jasypt, we can encrypt these values and then provide the password outside the runtime.

As a first step, we should encrypt the database password, as there is already an alternative for key passwords.

[2019-08-08 07:40] knakagoe1 opened #848 "Could not start with setting SSL"
Tessera:v0.9.2
openjdk:java 8
OS:Ubuntu 18.04

Hello.
I got the error below when I started tessera nodes.There are 2 tessera nodes.
`
15:52:16.464 [pool-2-thread-1] ERROR c.q.tessera.node.PartyInfoPoller - Error thrown while executing poller.
javax.ws.rs.ProcessingException: javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateException: This address has been associated with a differ

[2019-08-08 08:52] chris-j-h opened #850 "Travis master builds often timeout during deploy stage"
If Sonatype or Travis are experiencing technical issues, the "deploy only" stage often exceeds the Travis 50min job time limit causing valid master builds to fail.

[2019-08-08 09:39] namtruong commented on #848
Hi,

The error seems to indicate that the node has been restarted with a different certificate. If this was the case what you can do is empty or delete the knownClientsFile/knownServersFile where the old certificates are stored against the host.

[2019-08-08 09:41] namtruong commented on #830
PR #845

[2019-08-08 09:41] #830 closed, assigned to namtruong

[2019-08-08 10:04] Krish1979 commented on #846
PR #845

[2019-08-08 10:04] #846 closed, assigned to namtruong

[2019-08-12 08:18] #850 closed, assigned to nobody

[2019-08-13 15:55] Krish1979 commented on #838
To be worked on next

[2019-08-18 11:28] #848 closed, assigned to nobody

[2019-08-19 08:41] prd-fox opened #855 "com.fasterxml.jackson.core:jackson-databind:2.9.9.1 marked vulnerable"
The dependency `com.fasterxml.jackson.core:jackson-databind:jar:2.9.9.1` is marked as having vulnerabilities by the Enforcer plugin.

A newer version should be used which does not contain they flagged issues.

---
Failure message:

[code]

[2019-08-19 09:42] #855 closed, assigned to nobody

[2019-08-19 14:20] chris-j-h opened #859 "Errors involving the service provider on startup are not very useful"
For example if starting a node with the incorrect url provided for a remote enclave the node fails to start with the following error:
[code]

This should be changed so that it is more descriptive and allows for the problem to be diagnosed and resolved.

(This behaviour was present pre-0.10.0)

[2019-08-20 11:32] prd-fox opened #860 "Create services inside factory class instead of spring definitions for module "tessera-partyinfo""
The module `tessera-partyinfo` defines its services in a spring XML file (`tessera-partyinfo-spring.xml`), which is then loaded by a factory class to pull out the beans for use elsewhere.

The factory should be able to create and keep track of the beans itself, negating the need to load a spring XML file.

Although some of the bean definitions are not accessible by the factory, we should either mo

[2019-08-20 13:21] #859 closed, assigned to nobody

[2019-08-20 15:34] #702 closed, assigned to nobody

[2019-08-20 21:42] #738 closed, assigned to nobody

[2019-08-20 22:58] prd-fox opened #865 "Define generics for Key Vaults"
The key vaults all use the same interface for sending/fetching data to/from their respective vaults, and will case to an expected type from an interface.

Instead, we should use generics to do this for us, which provides stronger typing guarantees and makes the manual type checks redundant.

[2019-08-21 07:35] #865 closed, assigned to prd-fox

[2019-08-21 13:43] Krish1979 opened #867 "Q2T Communication - Web socket as an option"
Investigate and document enabling web socket connection between Quorum and Tessera nodes. Include design consideration for various Tessera endpoints and the pros and cons of enabling web socket communication.

[2019-08-23 08:43] prd-fox commented on #867
1. Geth 1.9.1 switched websocket libraries to a better one, worth waiting until we upgrade to that, don't think we are in a rush for this now anyway.

2. Will need to add TLS config for client certs, which is easy but its a lot of options that we won't want to put on the CLI (too cluttered), can put in the config file, but forces people to use a geth config file.

3. probably better performance, a

[2019-08-23 14:37] prd-fox opened #869 "Unify use of Service Loader"
A helper class (`ServiceLoaderUtil`) is used to access the `ServiceLoader`, which allows factories to specify a default implementation. However, this is not consistently used everywhere. As a stop-gap to Java 9, the utility should be used everywhere the service loader is needed.

After Java 9, the service loader contains more ways to use it that this utility currently takes the place of, and we ca

[2019-08-23 20:48] #869 closed, assigned to nobody

[2019-08-27 11:41] prd-fox commented on #867
Note some of this will be handled by allowing TCP access from Quorum to Tessera, which makes it a good first step.

[2019-08-27 13:13] prd-fox opened #871 "Update transaction with which recipient can decrypt"
In the case where a single node hosts multiple keys, it is useful to know who a transaction belongs to as a recipient.

The current method iterates over all keys and tries to decrypt the transaction, but this is expensive. Rather, we should save this information in the database for later use.

Side note: it is tempting to do this in the `/push` call as it is the entry point for the transaction, bu

[2019-08-27 13:20] prd-fox opened #872 "Provide a way to delete transactions for given public key"
A user requirement has come up where a bulk delete is wanted for a particular public key. This includes transactions where the key is either a sender or a recipient.

Currently, the API provides a method to delete a transaction based on it's hash, but there is no way to decide what other information is associated with a transaction, and so which ones to delete.

We can either provide a dedicated e

[2019-08-28 09:44] prd-fox commented on #872
Questions:

- Should the application suspend whilst performing this action?
    - don't suspend whole app, but lock the key in question so no more transactions come in
    - instead of locking, only consider transactions up to a certain point in time
    - if we provide this as a batch feature, then the application will be offline and so no new transactions will come in
- A physical delete or just

[2019-08-28 11:01] prd-fox opened #873 "Expand payload data in database"
The database currently only holds the encoded version of the payload, which makes it almost impossible to do anything useful with.

Breaking up the payload into its parts:
- `senderKey`
- `cipherText`
- `cipherTextNonce`
- `recipientBoxes`
- `recipientNonce`
- `recipientKeys`

would mean that we can have more specific searches, instead of sorting through everything, as well as making use of the da

[2019-09-02 12:31] prd-fox opened #874 "Use PicoCLI instead of commons-cli"
PicoCLI has better support for handling command line args, including:

- better help output
- strong type conversions
- automatic subcommand handling (routing logic)
- exception and exit code handling (although we may continue to use our own)
- keeps options contained to where they are used, instead of defined up front

It could be worth investigating if this provides any benefit, especially if we

[2019-09-02 12:59] chris-j-h opened #877 "Add acceptance tests for Azure Key Vault functionality"
Acceptance test coverage should be added for the retrieval of existing and generation of new keys in Azure Key Vaults, similar to the existing tests for the Hashicorp Vault functionality.

The tests should not have a dependency on Azure itself so will ideally mock the AKV in some way.

[2019-09-03 17:08] chris-j-h opened #879 "Use the latest version of Hashicorp Vault in the acceptance tests"
The version of Vault used in the acceptance tests is `1.0.1`.  The current latest version is `1.2.2`.  The acceptance tests should use a more recent version of Vault to be more representative of an expected environment.

[2019-09-03 18:39] chris-j-h opened #880 "Azure Key Vault - SSLPeerUnverifiedException when running disabled acceptance tests with jdk11"
AKV tests are currently disabled for jdk11 as Tessera throws a `javax.net.ssl.SSLPeerUnverifiedException: Hostname localhost not verified (no certificates)` when trying to communicate with the mock AKV (WireMock) server used in the tests.

Travis's `oraclejdk11` is currently `jdk11.0.2`.  The test is reproducible locally when using `jdk11.0.2`.  When using later versions (e.g. `jdk11.0.4`) the tes

[2019-09-05 09:33] knakagoe1 commented on #848
@namtruong
Thank you so much.
I resolved the problem when 2 nodes put in the same virtual network and using private IP address but got another error when each node put in the diffrent virtual network and using public IP address.

``
2019-09-05 17:57:07.399 [pool-3-thread-1] WARN  c.q.t.partyinfo.PartyInfoPoller - Error javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateException: N

[2019-09-10 07:53] xxLestadxx opened #881 "Tests are making the installation to loop forever"
When I tried to install the project using maven 3.6 with the command ``` mvn install ``` at some point the installation kind of "stopped" without proceeding for about 7 hours. After that I stopped it manually. When providing the clean install with no tests - ```mvn clean install -DskipTests=true ``` it was installed successfully.

[2019-09-11 08:15] #879 closed, assigned to chris-j-h

[2019-09-11 14:35] prd-fox commented on #881
Does this reproduce on every install? Or just happen once?
If you clean the project first (`mvn clean`), does it continue to happen?
Lastly, what OS and version are you using?

Installation time varies by how powerful the machine is, but usually should not take more than 15 minutes for a full `mvn install` run.

[2019-09-12 10:12] nicolae-leonte-go opened #882 "duplicate push requests arrive at receiving tessera during send stess tests"
Please find below the sequence of events from the tessera logs. Transactions are sent from tesseraA to tesseraB (tesseraA makes a push request to tesseraB).

Logs on the tesseraA:
[code]

Logs on tesseraB:
[code]

The logs suggest that even though a single push is performed by tesseraA two requests with the same content are being processed on tesseraB.

[2019-09-12 11:46] #877 closed, assigned to nobody

[2019-09-13 07:25] xxLestadxx commented on #881
It was on every ``` mvn install ```. I did not use the ```mvn clean``` before using the last command with the test skip.

OS: ubuntu 16.04 lts, CPU: i7-4510U 2.00 x4, 64 bit with RAM of 8GB

[2019-09-13 14:40] #882 closed, assigned to nobody

[2019-09-18 08:24] prd-fox commented on #881
Ok, thanks. I see this thread as well on Slack: https://go-quorum.slack.com/archives/C68NY0QQZ/p1568024356139900

Looking at the `CmdLineExecutorTest`, there is one possible culprit: `directoryStoreAndSqliteWithLotsOfFilesWorks`. This test reads/writes LOTS of files, so it may be slow on systems with slow read/write speeds. Still, I would not have expected it to stall for 7 hours. I'll see if we c

[2019-09-18 09:25] xxLestadxx commented on #881
It could also be the case that it would wait for some files but they never came, like some strange deadlock, because, if I recall correctly, my CPU didn't show any processes being done, apart from the usual.

[2019-09-18 12:09] prd-fox commented on #881
I managed to replicate this inside a Vagrant environment.

MacOS has a limit of ~10000 file descriptors, and I assume Travis set some low limit on the machines, hence why we never caught this before. Inside the vagrant environment, the limit is set to ~1 million, which isn't the most horrendous thing, but still enough to cause it to take a long time.

I'll investigate whether some sort of deadlock

[2019-09-18 12:25] prd-fox commented on #881
Are you able to report back the output of `ulimit -Ln`? This will tell us the hard limit on the number of file descriptors the OS allows.

[2019-09-19 13:48] xxLestadxx commented on #881
[code]
what am I doing wrong ?

[2019-09-19 13:56] prd-fox commented on #881
oops, my bad with a typo. It should be `ulimit -Hn`

[2019-09-19 15:44] prd-fox opened #885 "Use individual server style in config-migration"
The config migration still constructs a legacy server configuration. This is technically fine, since it will then be converted upon running the application, but it would be more informative to the user to use only the new style, instead of making them perform a second migration later. It will also be one less this to remove later when the deprecated config is entirely removed.

[2019-09-20 15:01] prd-fox opened #887 "Jackson databind 2.9.9.2 vulnerability"
A new vulnerability was highlighted by the `spotbugs` plugin for the `jackson-databind` library:

com.fasterxml.jackson.core:jackson-databind:jar:2.9.9.2:compile; https://ossindex.sonatype.org/component/pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.9.9.2
   * [CVE-2019-14540] A Polymorphic Typing issue was discovered in FasterXML jackson-databind before 2... (0.0); https://ossindex.sonat

[2019-09-22 05:18] xxLestadxx commented on #881
[code]

[2019-09-23 10:10] #887 closed, assigned to nobody

[2019-09-23 10:14] prd-fox commented on #881
Thanks @xxLestadxx. We've seen a few reports from other sources for the same issue, and with the same file handle limit.
I recreated inside a Vagrant VM, with that same limit, and the test took 20 minutes to run. Although it was a VM, it is still quite a powerful machine, so machines with lower specs will take even longer.

I opened a pull request to bypass the test for high limits. Our local deve

[2019-09-23 10:43] chris-j-h opened #889 "Occassional OkHttp warning when creating key pairs in Azure Key Vault"
Sometimes when using `tessera -keygen -keygenvaulttype AZURE ...` the following message is printed to the console:
[code]

Functionality does not appear to be affected but this msg does not concern the user so should be resolved or hidden.

[2019-09-23 13:27] #881 closed, assigned to nobody

[2019-09-23 14:32] #880 closed, assigned to nobody

[2019-09-23 14:32] #889 closed, assigned to nobody

[2019-09-23 17:06] xxLestadxx commented on #881
Always happy to help !

[2019-09-30 21:38] freedomtrain opened #892 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M3:test"
I have unsuccessfully attempted to install tessera.
I'am receiving the following failure warning
" Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M3:test (default-test)"
My server is running
Ubuntu 16.04.6 LTS
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~16.04.1-b10)
OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode)

[2019-09-30 21:42] prd-fox commented on #892
Hi @fredhampton

You will need to build from a non-root user, as some of the tests are for file permissions, which do not apply to the root user.

[2019-09-30 21:47] melowe commented on #892
This is strange we repeat this build several times a day. I’ll take a closer look tomorrow morning (GMT) For now you can try mvn clean install. The error looks related to a test and interacts with a file cleaning first might help.

[2019-09-30 22:39] freedomtrain commented on #892
I attempted to build with a non root users and received the same error message
"Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M3:test"

Maybe this issue is related to the following ?
 https://github.com/jpmorganchase/tessera/issues/638
https://github.com/jpmorganchase/tessera/issues/561

Thank so much for your help !

[2019-10-01 08:55] prd-fox commented on #892
That is more curious then.
You might find there are some files that weren't cleaned up from tests that didn't execute properly, and need to be removed first (running `git status` would show any untracked files), or re-clone the repo for a fresh start.

Alternatively, you are able to run without the tests `mvn clean install -DskipTests=true`.

[2019-10-02 12:58] vdamle opened #894 "JdbcSQLIntegrityConstraintViolationException when running Tessera in resend mode"
Ref: https://go-quorum.slack.com/archives/C825QTQ1Z/p1569933848108300

I'm attempting to run Data Recovery in Tessera by letting it run with Sync Poller turned on during startup. However, the sync does not complete due to the following errors repeatedly:

[code]

A new empty database does not catch up to it's prior state due to these errors:

[code]

[2019-10-03 11:23] #892 closed, assigned to nobody

[2019-10-04 12:35] prd-fox opened #895 "Cannot send raw transactions with no other private participants"
When sending a raw transaction with no recipients, the transaction failed to be retrieved. This is caused by the fact we have no recipient public key to decrypt with.

For regular transactions, we add ourselves as a recipient for exactly this case, and the same should be done for raw transactions.

[2019-10-07 13:50] #895 closed, assigned to nobody

[2019-10-10 18:05] namtruong commented on #894
Fixed by #883 and #898

Also the resend fetch size had been made configurable as an improvement #897

[2019-10-14 07:09] dvgoyeneche opened #903 "from field is encrypted?"
Hi there,
We are sending private transactions and we detect that the "from" is different from the account we are sending the transactions

Any idea?

[2019-10-14 08:57] prd-fox commented on #903
Are you referring to the `from` account of the Quorum transaction?

[2019-10-14 09:20] dvgoyeneche commented on #903
Yes, on public transactions that from would be the correct one, but now that we're trying private transactions that "from" field is different every time.

[2019-10-14 09:44] #903 closed, assigned to nobody

[2019-10-14 09:45] prd-fox commented on #903
I've moved this issue to the repo where the issue is caused, since this isn't a Tessera issue @dvgoyeneche https://github.com/jpmorganchase/quorum.js/issues/24

[2019-10-15 10:49] #894 closed, assigned to namtruong

[2019-10-21 09:36] yjfcn opened #908 "How to set log level"
Does anyone know how to set default log level from INTO to WARN? Thanks!

[2019-10-21 11:58] prd-fox commented on #908
You may provide the system property `-Dverbosity=WARN` to only receive warnings and errors.

Alternatively, for a more bespoke solution for a particular log message that is causing issues, you may provide your own logback file as shown here:
http://logback.qos.ch/manual/configuration.html#configFileProperty

[2019-10-22 07:40] yjfcn commented on #908
@prd-fox Thank you very much!

[2019-10-22 08:20] #908 closed, assigned to nobody

[2019-10-24 01:32] mygoodboy opened #911 "mvn install failure"
after mvn package -Dmaven.test.skip=true:
[INFO] tessera 0.11-SNAPSHOT .............................. SUCCESS [  1.694 s]
[INFO] shared ............................................. SUCCESS [  1.389 s]
[INFO] argon2 ............................................. SUCCESS [  0.276 s]
[INFO] tests .............................................. SUCCESS [  0.512 s]
[INFO] test-util .....................

[2019-10-24 09:59] #514 closed, assigned to nobody

[2019-10-24 10:06] namtruong commented on #911
Hi, if you don't want to run the tests please use `-DskipTests`

[2019-10-24 10:16] namtruong commented on #911
Also, include `clean` in your `mvn` command, otherwise jacoco will use the incomplete coverage of a previous run and still fail, even with tests skipped

[2019-10-25 19:02] #885 closed, assigned to nobody

[2019-10-28 11:53] LiQingMuBai opened #913 "mvn clean failed"
must be unique: com.google.guava:guava:jar ,please check it

in pom.xml , find same dependency

`            <dependency>
                <groupId>com.google.guava</groupId>
                <artifactId>guava</artifactId>
                <version>24.1.1-jre</version>
            </dependency>`

[2019-11-03 10:58] #911 closed, assigned to namtruong

[2019-11-04 12:02] prd-fox commented on #913
Can you post the output of maven please?

[2019-11-11 16:20] namtruong opened #919 "Allow partyinfo GET api to be called from browser"
Two changes

- At the moment CORS can be configured on any type of Tessera servers so that the APIs can be accessed from a browser. This is not ideal as ServerType such as Peer-to-peer should not be exposed to outside of Tessera p2p network. Hence this configurations should be restricted to ThirdParty server - the only point where external parties can use to connect to Tessera.

- There is a use c

[2019-11-11 16:21] namtruong commented on #919
#917 and #918

[2019-11-12 14:27] namtruong commented on #913
fixed by #922

[2019-11-13 10:21] prd-fox opened #923 "Deduplicate keys from participant list"
When receiving a `/sendraw`, `/send` and `/storeraw` request, we may receive duplicated participants. This will cause us to encrypt and send the same message twice to the same recipient, failing the second time.

We also add the senders key (either specified in the message or the nodes default key), as well as the `alwaysSendTo` list. This makes it more likely that there will be a duplicate recipi

[2019-11-13 14:16] #919 closed, assigned to namtruong

[2019-11-13 15:49] namtruong opened #924 "Add an endpoint to return list of public keys that are managed by enclave"
This endpoint can be exposed via ThirdParty server and can be used by external clients to return a list of `privateFrom` to use to send transactions

[2019-11-20 15:26] #913 closed, assigned to nobody

[2019-11-27 10:46] namtruong opened #929 "Disable ssl session renegotiation on Tessera server"
At the moment Tessera server honours client-initiated renegotiations by default - which can open the door to attacks such as man-in-the-middle or DoS.

As we have no need or benefit from this feature it should be disabled

[2019-11-27 12:35] namtruong opened #931 "Make the ssl ciphers list configurable"
When new vulnerabilities are detected, users should be able to specify a list of ciphers to be excluded.

A cipher list or excluded cipher list could be added to the SslConfig object

[2019-11-27 14:06] #929 closed, assigned to namtruong

[2019-11-29 16:30] chris-j-h opened #933 ""No value present" error when trying to use admin CLI"
Admin CLI commands cannot be executed, e.g.
[code]
exits with error
[code]

[2019-12-02 12:14] chris-j-h opened #935 "Remove ability to provide key passwords directly in config to improve security"
Passwords for locked Tessera keys can be provided in multiple ways:
1. CLI prompt on node startup (enabled by providing no password data in the tessera `config.json`)
1. In a password file (enabled by providing `"passwordsFile"` field in the tessera `config.json`)
1. In the config file itself (enabled by providing `"passwords"` field in the tessera `config.json`)

Providing plain text passwords di

[2019-12-02 12:17] chris-j-h commented on #935
Part resolved by #915 (`passwords` field in `KeyConfiguration.java` marked as `@XmlTransient`)

ToDo
- [x] Prevent node start and display error if `"passwords"` field is present in config
- [x] Update documentation (example config, key configuration sections, ...)

[2019-12-02 13:01] chris-j-h opened #938 "Password CLI prompt occuring even when passwords are provided"
In current 0.11-SNAPSHOT master (not in previous releases) the CLI password prompt always appears when starting a node with locked keys, even when `passwordFile` is provided and is the path to a correct password file.

[2019-12-02 15:38] #938 closed, assigned to nobody

[2019-12-04 13:25] #933 closed, assigned to nobody

[2019-12-05 10:24] Krish1979 commented on #931
PR #940 fixes this.

[2019-12-05 10:25] #931 closed, assigned to namtruong

[2019-12-05 10:45] #924 closed, assigned to namtruong

[2019-12-05 10:50] #609 closed, assigned to nobody

[2019-12-05 11:27] melowe commented on #874
As an extension to this task, changing the CLI framework also means that the current tests might me less relevant. For CLI stuff it would be great is testing was from the provision of CLI options and verifying the output, which is perhaps a departure to traditional unit tests.

Also, remove IO dependencies and abstract out. tests should interact with api objects and not have filesystem dependencie

[2019-12-06 14:28] #935 closed, assigned to nobody

[2019-12-13 17:14] chris-j-h opened #945 "Ensure no cross-relationships between server types where appropriate"
As an example, the `ThirdPartyRestApp` currently has a dependency on the `admin.ConfigService`.

[2019-12-30 11:38] Krish1979 opened #949 "Parallelise 'partyinfo' request"
Currently the peer to peer discovery/connection is established sequentially and there is room for improvement on this front to make this parallel threads so the node becomes ready for transaction processing with all actives peers as quick as possible

[2019-12-30 11:44] Krish1979 opened #950 "Amend timeout settings - configurable"
Default timeout for connectivity is 2 minutes. Allow for this to be configured to user defined value.

[2019-12-30 13:47] Krish1979 opened #951 "Allow url update with same key if remote node validation is disabled."
Tessera default configuration from version 0.10 is remotenodevalidation 'disabled' to allow rolling upgrade and backward compatibility. But this default also prevents url to be update for same key like in older versions which breaks the compatibility.

[2019-12-31 16:23] #951 closed, assigned to namtruong

[2020-01-06 05:21] bigstar119 opened #954 "ThirdParty server hangup problem"
i made 3 raftbase nodes  with tessera-0.9.4
when startup everything is ok. and i run the example SendRawPrivateTransaction.java deployed a private contract.
then after about 20 minutes later, i run the SendRawPrivateTransaction.java again.
but this time throw exception

exception messsage like this:
**Exception in thread "main" java.util.concurrent.ExecutionException: java.lang.RuntimeException: j

[2020-01-06 12:52] SatpalSandhu61 commented on #954
Are you seeing any errors in the tessera logs?
If you are able to attach the log for tessera 1 instance then that would help.

[2020-01-07 00:47] bigstar119 commented on #954
i did not see any error in the tessera.log below is my tessera.log i delete many /partyinfo log because it is to large. before 08:31:08 this morning  i can receive /upcheck response. but after that i can not receive  /upcheck response ,and i can not see any log about  /upcheck . this is my log

08:29:01.704 [main] INFO  eclipselink.logging.all - EclipseLink, version: Eclipse Persistence Services -

[2020-01-07 01:01] bigstar119 commented on #954
i think the JerseyServer  on the port 9081 has some problem, and do not accept the http request.
 /upcheck do not have any complex business , the problem may be in the io.

[2020-01-07 04:54] bigstar119 commented on #954
09:40  3 nodes` p2p server is hangup too. 9001 port unserve any http request.
curl -s http://10.10.105.50:9001/upcheck
curl -s http://10.10.125.50:9001/upcheck
curl -s http://10.10.125.54:9001/upcheck

crul for 9001 has no response,and client always wait
[root@hadoop-3 node]# netstat -an|grep 9001
tcp6       0      0 :::9001                 :::*                    LISTEN
tcp6       0      0 10.10.

[2020-01-07 05:01] bigstar119 commented on #954
nodes.zip is my nodes deployments files
[nodes.zip](https://github.com/jpmorganchase/tessera/files/4028933/nodes.zip)
the dependency in the lib dir like these:
[root@hadoop-3 lib]# pwd
/home/cpap/app/blockchain/product/lib
[root@hadoop-3 lib]# ls
bootnode  geth  tessera.jar
[root@hadoop-3 lib]#

tessera.jar is tessera-0.9.4
./quorum_init.sh initblockchain
./tessera_start.sh startup tessera
./quoru

[2020-01-07 05:38] bigstar119 commented on #954
the quorum-examples:https://github.com/jpmorganchase/quorum-examples on my host has the same problem, when 7nodes startup 10 minutes later, the 9081 port unserved any http request

[2020-01-07 11:11] #949 closed, assigned to namtruong

[2020-01-07 11:39] SatpalSandhu61 commented on #954
I've tested this and it seems to work fine on the latest Tessera version. Even after 30mins the ThirdParty server still responds for me.

I will checkout 0.9.4 and see if that behaves differently.
However, are you able to use the latest versions of Tessera (& Quorum)? The version you are using is quite old and there are a number of improvements since then.

[2020-01-07 12:30] Krish1979 commented on #954
As Satpal suggested ,, please upgrade to latest version of Tessera and reopen the issue if you still get timeout error.

[2020-01-07 12:30] #954 closed, assigned to SatpalSandhu61

[2020-01-08 00:36] bigstar119 commented on #954
OK, i will try the latest verion. by the way my operation system is CentOS Linux release 7.3.1611.
can you test 0.9.4 use the same  operation system  with me? mybe is the operation system problem.

and what is your operation system? ubuntu redhat or something else?

[2020-01-08 06:17] bigstar119 opened #958 "ThirdParty server hangup problem with 7nodes example"
follow the suggest on https://github.com/jpmorganchase/tessera/issues/954. i use the latest realease of qurom and tessera deploy quorum-examples with 7 nodes. but ThirdParty server 9081-9087 port hangup again.  this is my deploy and test steps, maybe can help reappear the bug.

1、prepare host server, operate system version：CentOS Linux release 7.3.1611 x86_64
2、download geth_v2.4.0_linux_amd64.tar

[2020-01-08 09:03] SatpalSandhu61 commented on #958
Ok, I'll see if I can recreate using your config and steps.
FYI We're running on MacBook (Darwin Kernel Version 19.2.0, xnu-6153.61.1~20/RELEASE_X86_64) but we do have access to some other OS versions.

[2020-01-08 09:06] SatpalSandhu61 commented on #958
BTW when the problem occurs is the server still listening on port 9081 (`netstat -an | grep 9081`)?

[2020-01-08 10:46] SatpalSandhu61 commented on #958
Ok, so the problem doesn't occur on the Mac so I suspect it is OS related. I don't believe we have access to a CentOS machine, but I'll test on some other Linux versions to see if I can reproduce.

In the meantime, would you be able to run Tessera with debug logging enabled? You'll need to create the following logback.xml file:
[code]
Run this using:
[code]

[2020-01-08 11:44] chris-j-h opened #959 "Replace the specific KeyVaultConfig objects with a single generic object"
To reduce the overhead of adding support for new key vault types, a generic KeyVaultConfig object should be introduced (e.g. containing a map of generalised properties).

The existing AzureKeyVaultConfig and HashicorpKeyVaultConfig should be deprecated.

[2020-01-08 12:08] Krish1979 commented on #950
Closing this as making party info polling configurable is more desired.

[2020-01-08 12:08] #950 closed, assigned to namtruong

[2020-01-08 12:12] Krish1979 opened #960 "Partyinfo polling - configurable option"
Currently Tessera polls peers every 2 seconds for all its peers which becomes more laborious with increased number of peers in the network.. So increase this to every 20 seconds as default and also allow for the value to be configurable by users. The timeout should be amended to be a factor within the polling period (say 3/4th) and this way if a connection is down the downed thread could be reassi

[2020-01-09 00:32] bigstar119 commented on #958
@SatpalSandhu61 when the problem occurs  server still listening on port 9081
netstat -an|grep 908
**tcp6       0      0 :::9081                 :::*                    LISTEN
tcp6       0      0 :::9082                 :::*                    LISTEN
tcp6       0      0 :::9083                 :::*                    LISTEN
tcp6       0      0 :::9084                 :::*                    LISTEN

[2020-01-09 00:37] bigstar119 commented on #958
in china most software company used win10 operation system for develop
and use CentOS/redhat/ubuntu for product
and on win10 i did not reappear the bug.. so I suspect the problem is OS related too.

[2020-01-09 07:26] bigstar119 commented on #958
[jetty-server.zip](https://github.com/jpmorganchase/tessera/files/4039107/jetty-server.zip)
@SatpalSandhu61 I'm pretty sure that the problem is on the jetty+glassfish`s jersey.. i take out the core code form tessera and made a single test. jetty-server.zip is my test maven project. package the project you will get jetty-server-1.0-SNAPSHOT.jar .
run the jar on centos7 like this:
java -jar jetty-se

[2020-01-09 08:42] bigstar119 commented on #958
hi. i think i find the reason of the problem. i update jetty.version from 9.4.17.v20190418 to 9.4.25.v20191220 . repackage and deploy tessera.jar to myhost. everything goes fine!!
this is my pom.xml

        <jetty.version>9.4.25.v20191220</jetty.version>

i think the jetty.project fixed our problem between version **9.4.17.v20190418** and **9.4.25.v20191220**

[2020-01-09 11:10] SatpalSandhu61 commented on #958
@bigstar119 many thanks for investigating and narrowing that down!
We'll take a look at updating the jetty version.

[2020-01-09 14:27] chris-j-h opened #961 "Add CLI override support for encryptorConfig and keyVaultConfig"
No `encryptorConfig` overrides are being applied.  The `keyVaultConfig.properties` field also cannot be overriden.

[2020-01-10 14:01] melowe opened #965 "Support relative paths in unix domain file uri"
Some reports of users expecting that the domain socket file path syntax should be able to interpret to tokens and relative paths where no root is defined to be supported. While its reasonable that URIs shouldn't use relative paths it is reasonable to say that our config could have some provision for this.

Goal
URIs with a  unix: prefix should be able to handle no root slash or the use of a single

[2020-01-10 14:17] #961 closed, assigned to nobody

[2020-01-10 16:07] SatpalSandhu61 commented on #958
@bigstar119 when you built tessera with the upgraded jetty, did you run the acceptance tests?

I tried upgrading to 9.4.25.v20191220, but it causes the tests to fail - it looks like there is an issue with recent jetty versions which result in an incompatibility with jersey's jetty test container. See here:
https://github.com/eclipse-ee4j/jersey/issues/4302

[2020-01-10 16:28] #965 closed, assigned to melowe

[2020-01-10 16:51] melowe commented on #958
I've just put a PR up to bump the jetty version as you said you had done on your local build.  https://github.com/jpmorganchase/tessera/pull/968 . It builds for us and our tests pass, but please feel free to validate that it addresses the original issue.

[2020-01-13 03:50] bigstar119 commented on #958
hi guys i download the **upgrade_jetty_version** branch ,recompile and depoly to my host, everythings goes fine. i think we fixed the bug . good work!!!

[2020-01-13 12:34] #958 closed, assigned to nobody

[2020-01-17 14:52] #960 closed, assigned to namtruong

[2020-01-17 17:06] Krish1979 opened #976 "Enforce whitelist when discovery is OFF"
When discovery is OFF, node shouldn't even accept transactions from nodes other than the peers in config i.e., applying whitelist to known peers only.

[2020-01-17 17:06] Krish1979 commented on #976
Fixed by #975

[2020-01-17 17:07] #976 closed, assigned to nobody

[2020-01-24 11:08] #959 closed, assigned to nobody

[2020-01-30 11:00] prd-fox commented on #874
Finished in https://github.com/jpmorganchase/tessera/pull/946

[2020-01-30 11:00] #874 closed, assigned to nobody

[2020-02-11 12:16] #655 closed, assigned to nobody

[2020-02-11 18:55] Swhite215 commented on #803
What was the resolution of this problem?

[2020-02-12 09:42] chris-j-h commented on #803
To diagnose Tessera startup problems when using the 7nodes example look through the log files for each node in `quorum-examples/examples/7nodes/qdata/logs`

[2020-02-13 14:13] Swhite215 opened #994 "Seeing "Waiting until all Tessera nodes are running..." when using Java 13"
OS: MacOS

I am trying to run the Quorum 7nodes example.

I ran _./raft-init.sh --numNodes 1_ first to only spin up one node.

I then ran _./raft-start.sh tessera --tesseraOptions "--tesseraJar /Users/fcprxbci/Documents/projects/tessera/tessera-dist/tessera-app/target/tessera-app-0.11-SNAPSHOT-app.jar"_

I am continuously seeing this in the console and the tessera node never starts:
[code]

In qda

[2020-02-13 15:06] SatpalSandhu61 commented on #994
Please ensure you have the correct java version.
The required JDK for Tessera versions are documented here: https://github.com/jpmorganchase/tessera#prerequisites

[2020-02-13 15:09] Swhite215 commented on #994
Can I not have a JDK version that is newer than 11 e.g. 13?

[2020-02-13 15:30] SatpalSandhu61 commented on #994
Unfortunately, we don't support 13 at the moment. We are working on it but we don't have a release date at the moment.

[2020-02-13 15:36] chris-j-h opened #995 "Add compatibility with Java 12+"
The currently supported JDK versions are outlined in the Tessera README - https://github.com/jpmorganchase/tessera#prerequisites.

Support should be added to enable the building and running of Tessera with later versions of the JDK/JRE (e.g. Java 13).

[2020-02-13 15:51] SatpalSandhu61 commented on #994
Closing this ticket, as we've raised an associated ticket #995 for the java 13 upgrade.

[2020-02-13 15:51] #994 closed, assigned to nobody

[2020-02-14 17:37] melowe opened #996 "Create Server type sensitive logger name for LoggingFilter"
The com.quorum.tessera.server.jaxrs.LoggingFilter class defined a logger and all requests are logged along with their responses..

The filter needs to provide a means that different servers can use different logger names.

`com.quorum.tessera.server.jaxrs.LoggingFilter#P2P` for example or even the server url.

[2020-02-14 18:21] nicolae-leonte-go commented on #996
It may be useful to check if we can get access to the [ResourceInfo](https://docs.oracle.com/javaee/7/api/javax/ws/rs/container/ResourceInfo.html) and log the events using the target class logger.

[code]

[2020-02-19 12:44] #996 closed, assigned to melowe

[2020-02-20 09:47] fullkomnun opened #999 "Consider supporting native-image build with GraalVM"
Hi,

The startup times I experience with tessera are much longer (~30 seconds) than these observed when using constellation (few seconds).
Would it be feasible to support a native-image build of the
more lightweight tessera-simple artifact using [GraalVM](https://www.graalvm.org/)?
GraalVM has been demonstrated to reduce startup times and memory footprints among other benefits.
see: https://www.gr

[2020-02-20 11:57] yunhochung opened #1000 "Consider reverting "Enforce whitelist if discovery disabled" to 0.10.2"
Hello.

I'm building up the network on AWS.

Inbound; NLB(with EIP) - Nodes(on Private N/W)
Outbound: Nodes(on Private N/W) - NAT Gateway

I let some nodes on other cloud/on-premise know that my tessera's IP is two for inbound, outbound.
And most enterprise company's firewall does not open for any source IP except Web Server.
So, currently my consortium doesn't "Discovery" and "Whitelist" function

[2020-02-24 14:07] namtruong commented on #1000
Hi @yunhochung , thanks for raising this.

The change to enforce the use of whitelist is to prevent a security incident where there is a mixed setup of auto-discovery feature in a Tessera network; however, this indeed does have an impact on some other use cases - one of which you just described.

We will review this internally and revert the change - hopefully release a patch next week.

Many than

[2020-02-24 15:50] nicolae-leonte-go commented on #999
Hi,

I have performed the following test on my local machine (Ubuntu 18.04.4 LTS, AMD Ryzen 7 PRO 3700U, 16GB of RAM) and here are the results:

**Test description**

1. Start the 7nodes example (local processes/docker).
2. Stop the tessera node1 java process.
3. Individually start tessera node1 (java -jar $TESSERA_JAR -configfile ./qdata/c1/tessera-config-09-1.json).
4. Measure (subtract) the tim

[2020-02-25 09:19] fullkomnun commented on #999
Thanks for your thorough and prompt response.

I tested it both on a mid-2015 MacBook Pro and a Linux VM.
I can provide a more extensive specification but the same setup was used for both constellation and tessera yielding completely different startup times.

All tests were performed using docker-compose, with at least 4GB allocated to docker daemon.
I observed the time it takes for nodes of the 7

[2020-02-25 10:12] fullkomnun commented on #999
So the measurements you provided make sense for a single tessera node but if you wish to create a cluster for e2e-testing startup times quickly degrade (while constellation scales much better).
Anyway, GraalVM can be used for making tessera nodes more container friendly so that they can be created on-the-fly quickly but that requires additional work. I'll try to play with it.

[2020-02-25 16:19] #1000 closed, assigned to namtruong

[2020-02-26 09:52] nicolae-leonte-go commented on #999
Please let us know if you manage to get any significant reductions in startup times by creating a GraalVM native image.
Be advised that tessera makes extensive use of reflection.

[2020-02-27 10:21] melowe opened #1004 "Security issues from second and third parties."
Integrating with Azure, AWS and other external services means we integrate with 2nd party client libraries. In doing so we adopt any security issues that those libraries might have, especially when they liberally adopt other libraries.

The biggest CVE count we've had is with Jackson and Netty dependencies.

Tasks
1. Make adaptor modules addable but not included in core deployment artifact .
2. Ra

[2020-02-27 17:10] nicolae-leonte-go commented on #999
A few suggestions for speeding up your e2e testing cluser setup:
1. Reduce the number of nodes in your setup (see the numNodes parameter in the start scripts or edit the docker-compose script to reduce the number of hosts).
2. If your testing doesn't need a privacy manager (you are experimenting with quorum settings) you may skip starting tessera alltogether (start quorum with PRIVATE_CONFIG=ingor

[2020-02-27 17:10] #999 closed, assigned to nicolae-leonte-go

[2020-02-28 15:04] melowe commented on #790
Loosening validation will result in more user queries and documentation. Using a config option to enable boot node mode is fine (we are not functionally disabling anything, the user is enabling).

1. Bootnode mode could be defined implicitly (if no q2t defined) and then warn the user that its starting in this mode. In this case we take away validation.
2. An exploit bootnode config will allow us t

[2020-02-28 16:49] #1004 closed, assigned to Krish1979

[2020-03-03 11:34] #923 closed, assigned to namtruong

[2020-03-11 10:58] chris-j-h opened #1013 "Add --debug option to toggle printing full stack traces for startup exceptions"
Currently we handle CLI/startup exceptions and extract the message before presenting to the user.  In some debugging situations it is helpful to view the full stack trace of the exception.

[2020-03-11 11:00] chris-j-h opened #1014 "Generic "UndeclaredThrowableException" message when exception is encountered during startup"
The specific messages for exceptions raised during startup are being lost with the only output being "UndeclaredThrowableException".

[2020-03-11 11:03] chris-j-h commented on #1014
This issue is caused by a bug in the `CreateContextInvocationHandler` and is related to the way `Proxy`/`InvocationHandler` works:

Exceptions during `Method::invoke` are wrapped by `InvocationTargetException` which is a checked exception.  `InvocationHandler::invoke` throws `Throwable` and wraps any unhandled checked exceptions in an `UndeclaredThrowableException`.

Exceptions thrown during the c

[2020-03-11 15:18] chris-j-h opened #1016 "Server type config validation results in unspecific errors in certain cases"
The following have been observed:

| Command | Configured server type | Returned error |
| --- | -----------| --------- |
| `tessera --configfile <...>` | `"app": "ADMIN"` | `Cant create app for ADMIN` |
| `tessera --configfile <...>` | `"app": "<some invalid type>"` | `HV000028: Unexpected exception during isValid call.` |
| `tessera keygen --configfile <...>` | `"app": "<some invalid type>"` | `

[2020-03-11 18:41] chris-j-h opened #1018 "Unmarshalling of CORS config overrides custom values with defaults"
When unmarshalling CORS config for `ThirdParty` servers the `"allowedMethods"` and `"allowCredentials"` values are always overriden with the default values.

For example, the config sample:

[code]
will be unmarshalled and used by Tessera as:

[code]

[2020-03-12 12:04] #1018 closed, assigned to nobody

[2020-03-12 12:04] #1013 closed, assigned to nobody

[2020-03-12 15:33] #1016 closed, assigned to nobody

[2020-03-12 15:33] #1014 closed, assigned to nobody

[2020-03-18 15:31] namtruong opened #1022 "Make storeraw endpoint available also via Q2T server"
Make `storeraw` endpoint available on Q2T server so that such requests can also be called via Quorum

[2020-03-18 15:46] Krish1979 opened #1023 "Allow storeRaw endpoint to be available for Q2T as well as 3rd party server"
Currently storeRaw is available only for 3rd party server. However in ethereum version 1.9.3 a new API has been added eth_fillTransaction - the usage details are available at https://github.com/ethereum/go-ethereum/pull/19915#discussion_r312013295. This essentially allows offline signing of a transaction at geth node level and then send it as a raw transaction. To enhance this to support private t

[2020-03-18 15:47] #1022 closed, assigned to namtruong

[2020-03-18 18:10] #1023 closed, assigned to nobody

[2020-03-21 13:33] ghost opened #1024 "FAIL TESSERA INTIALIZATION ON RASPBERRY PI (QUORUM 7 NODES): CONNECTION REFUSED"
Hi
I'm trying to run a 4 nodes configuration from Quorum examples runnig it locally on my Raspberry Pi Model 3B (armv7 , RAM 2 GB, external SD memory 32 GB)
Geth works fine but Tessera doesn't work
I've tried with prebuilt binaries and i ve also compiled it by myself on raspberry with maven (3.6.0)
When i try to configure tessera nodes the server refuses connection and stops.
I 'm going mad.
Can s

[2020-03-24 11:44] nicolae-leonte-go commented on #1024
We're looking into this (trying to get tessera going on a raspi).
However - [raspi 3b](https://www.raspberrypi.org/products/raspberry-pi-3-model-b/) only has 1 GB of RAM thus you may struggle to get 4 geth and 4 tessera processes (they may start but we can't comment on long term stability).

Note: We don't support or test Ras Pi but we will try to help as much as possible.

[2020-03-24 12:12] ghost commented on #1024
The problem appears when I try to lunch tessera node using the configuration file.
Also if I try to run a single tessera node the server start but suddenly refuses the connection and stops the node.

[2020-03-24 18:11] nicolae-leonte-go commented on #1024
Can you try to install the [libjffi-jni](https://pkgs.org/download/libjffi-jni) library on your raspi:
`sudo apt-get install libjffi-jni`

Keep in mind that 1GB of RAM will fill up very quickly with many tessera & geth processes.

[2020-03-24 20:43] ghost commented on #1024
Thank you very much! That library solves the issues!!! Now my problem is only that i can run just one node at time for each raspberry but better than nothing. Thank you again.

[2020-03-24 20:53] #1024 closed, assigned to nobody

[2020-03-25 10:46] namtruong opened #1025 "pwdout option write null password to file"
When doing keygen with options to update password to password file, the passwords are being written incorrectly.

Since runtime context change, KeyData are being marshalled without password, hence null values being written to new pwd file.

[2020-03-31 08:02] #1025 closed, assigned to namtruong

[2020-04-24 09:48] #792 closed, assigned to namtruong

[2020-05-04 12:10] Krish1979 opened #1058 "Use unique payloads for validating each key published by a node"
When a node advertises two keys, use unique payloads to validate each key to ensure node authenticity.

[2020-05-04 16:14] #1058 closed, assigned to nobody

[2020-05-14 09:23] chris-j-h opened #1061 "Localhost peers should be recognised with IP or hostname"
Related to https://github.com/jpmorganchase/quorum-examples/pull/234

Currently Node A's advertised localhost P2P url (e.g. `localhost:8080`) is not recognised by Node B as a known peer if `127.0.0.1:8080` is defined in Node B's `"peers"` list, and vice versa.  For ease of use this should be allowed.

This could also be extended to non-localhost URLs (e.g. Node A's advertised url, `http://mynode:8

[2020-05-14 23:54] libby opened #1064 "Update root path `/` to return 200"
When creating a Kubernetes Ingress for tessera the base path `/` for third party API  returns a `404` instead of `200`, which causes Ingress implementations to think the service is down. Ingress load balancers use the root path `/` as the health check.

At this time, there is no apparent way to set a different health check without implementation specific work.
https://github.com/kubernetes/ingress

[2020-05-15 16:41] #1061 closed, assigned to chris-j-h

[2020-05-15 17:56] chris-j-h opened #1067 "Fix atest ghactions jobs and resolve false positives"
The tests within the `atest` ghactions jobs are failing yet the jobs themselves are still passing.

* These jobs need to be updated as changes have recently been made to the `quorum-acceptance-test` project
* The false positives need to be addressed.  The `quorum-acceptance-test` build itself is succeeding despite test failures so code change may be required in `quorum-acceptance-test` to resolve

[2020-05-15 18:04] chris-j-h opened #1068 "Fix CVE dependency vulnerabilities"
`./gradlew dependencyCheckAnalyze -x test` identifies the following vulnerabilities.  These should be resolved:

[code]

[2020-05-15 18:06] #1068 closed, assigned to chris-j-h

[2020-05-15 18:24] chris-j-h opened #1069 "Invalid "peers" in configfile are not validated"
A url with no scheme results in:

[code]

The urls should be validated before use and provide feedback on which url in the config is invalid and why.

[2020-05-15 18:25] #1069 closed, assigned to chris-j-h

[2020-05-17 11:30] chris-j-h opened #1070 "Use containerised acceptance-tests in ghactions workflows"
[The quorum-acceptance-tests have been containerised](https://hub.docker.com/r/quorumengineering/acctests).  This should be used in the ghactions acceptance tests jobs.

This will simplify the workflow configuration, and make it easier to perform more stringent testing (e.g. with other network configurations).

This will require a code change in `quorum-acceptance-tests` so that the `tessera` imag

[2020-05-19 09:02] chris-j-h opened #1072 "Use new Azure Key Vault Java SDK"
The Azure SDK used by Tessera has been replaced ([com.microsoft.azure:azure-keyvault](https://search.maven.org/artifact/com.microsoft.azure/azure-keyvault) --> [com.azure:azure-security-keyvault-secrets](https://search.maven.org/artifact/com.azure/azure-security-keyvault-secrets/4.1.3/jar)).

We should switch to the new SDK so that we can keep up to date with fixes/features.

[2020-05-19 09:04] chris-j-h opened #1073 "Remove unused websockets code"
The websockets code is currently unused and should be removed so that it does not have to be continually maintained (e.g. fixing dependency vulnerabilities).

[2020-05-19 09:04] #1073 closed, assigned to chris-j-h

[2020-05-19 10:25] #1067 closed, assigned to chris-j-h

[2020-05-21 12:54] #1064 closed, assigned to nobody

[2020-05-28 12:09] ohbus commented on #761
Hey @chris-j-h and @prd-fox

Is this issue resolved?

If not I would like to work on it. Thanks 😃

[2020-05-28 12:17] chris-j-h commented on #761
Hi - the Tessera CLI was updated in #946 and included this fix as well as several others.  This was released in Tessera 0.10.3.  Usage is documented here https://docs.goquorum.com/en/latest/Privacy/Tessera/Configuration/Using%20CLI%20to%20override%20config%20v0.10.3/.

Apologies, this issue should have been closed.

[2020-05-28 12:17] #761 closed, assigned to nobody

[2020-05-28 12:18] chris-j-h commented on #762
The Tessera CLI was updated in #946 and included this fix as well as several others. This was released in Tessera 0.10.3. Usage is documented here https://docs.goquorum.com/en/latest/Privacy/Tessera/Configuration/Using%20CLI%20to%20override%20config%20v0.10.3/.

[2020-05-28 12:18] #762 closed, assigned to nobody

[2020-05-28 12:22] chris-j-h commented on #787
We now use GitHub Actions for CI.  #1031 added a workflow to perform a mvn release.  This creates a GitHub tag, and pushes built artifacts to maven central

[2020-05-28 12:22] #787 closed, assigned to nobody

[2020-06-04 10:19] SriramRS opened #1079 "How to query the node information in tessera"
Is there any possibility to query basic information about running tessera node and its peers. similar to **admin.peers** in quorum.
Endpoints listed in https://jpmorganchase.github.io/tessera-swagger/index.html throws 404 for all except version and checkup.

[2020-06-04 11:23] namtruong commented on #1079
Hi,

If you're local to the node, you can query its network information by calling GET `/partyinfo`.

Also please make sure you're using Tessera's P2P server port

[2020-06-04 14:30] #1079 closed, assigned to nobody

[2020-06-12 15:20] #790 closed, assigned to SatpalSandhu61

[2020-06-16 10:44] yunhochung opened #1087 "Memory Leak?"
Hi!!
I got the OOM(Out of Memory) error yesterday.
So, I did add APM agent for heap monitoring to Tessera.

I found the memory leak as below link. (sample..)
(I'm sorry. I can't post the real graph because the company policy)

Heap memory usage is increasing gradually after GC on all node.
https://i.stack.imgur.com/NlsbR.jpg

Heap memory is increased 130MB for 8 hours.

Thank you.

[2020-06-16 11:50] namtruong commented on #1087
Hi,

Can you give details of the specs the Tessera nodes ? How much memory was given to each?

Thanks,

[2020-06-16 14:03] yunhochung commented on #1087
Hi,
Tessera version is 0.10.5 and is running on Docker container with AWS ECS.

- Container Memory: 1024M
- JVM Option: -Xms768M -Xmx768M

There are a little transaction between nodes.

Thank you.

[2020-06-16 14:17] namtruong commented on #1087
Thanks.

With the above memory allocated and little transaction volume, getting OOO is unusual.

Could you please post the error log when ooo occurs ?

[2020-06-16 14:24] yunhochung commented on #1087
@namtruong I have no error log because I didn't config for heapdump. Currently, all node's heap memory is increasing gradually after re-set up for heap dump. So, I'm getting heap dump log.

[2020-06-16 14:41] namtruong commented on #1087
ok - please send us some logs when you have.

How many nodes are you running currently ? What are the volume of transactions roughly ? Are they all private and signed externally ?

I'll also try to replicate from my end - although we've seen networks running very long under heavy load with less memory allocated, so there might something unusual happening.

[2020-06-16 14:57] yunhochung commented on #1087
- How many nodes are you running currently ?
   -> 4 validators, 9 geth+tessera nodes
- What are the volume of transactions roughly ?
   -> 16,000 tx / 600,000 blocks
- Are they all private and signed externally ?
  -> all nodes are sending private/public transaction

Thank you.

[2020-06-17 08:00] yunhochung commented on #1087
@namtruong I got the heap dump from all nodes and ran IBM Heap Analyzer..
I found common some leak suspect as below.
But, I can't find the reference object(tree) on IBM Heap Analyzer.

- org/postgresql/jdbc/PgConnection
  -> Instances Count: >500
  -> heap Size: 280M

- java/util/concurrent/ConcurrentSkipListMap$index, $Node
  -> Instances Count: > 6,000
  -> Heap Size: 210M

Thank you.

[2020-06-17 10:03] namtruong commented on #1087
@yunhochung Thanks for these.

We'll investigate and get back in due course

[2020-06-17 10:36] #1070 closed, assigned to nobody

[2020-06-18 09:39] namtruong commented on #1087
What's the version of postgresql jdbc driver you're using ?

Also any luck with any exceptions in the logs ?

[2020-06-18 11:44] yunhochung commented on #1087
@namtruong JDBC driver version is 42.2.14 from https://jdbc.postgresql.org/download.html. There is no exception. :( All node's heap is still increasing after restarting tessera.

[2020-06-26 15:25] namtruong commented on #1087
@yunhochung I've been trying to replicate the issue on my end but haven't been successful so far.

The infrastructure given seems to be more than enough for a Tessera node to perform under heavy load

Are you able to reproduce this issue on a different environment, and perhaps help us by sharing more logs or any exceptions that ever occurred?

[2020-06-30 04:09] yunhochung commented on #1087
@namtruong I'm sorry that I can't reproduce this issue on other environment. I did recently add new node(Memory: 1G, Heap: 768M) to network with ECS(Elastic Container Service). This new node's memory is also increasing gradually. Have you been testing the Tessra with 1G memory, 768M heap???

[2020-07-01 09:55] namtruong commented on #1087
Hi @yunhochung we've been testing Tessera with less heap given i.e. `-Xms512M -Xmx512M` . If this is not possible to reproduce in a different environment the issue might be more container-related than Tessera itself.

I haven't been able to try the latest Tessera on ECS (I did a while ago though) - however with containers we usually allow 4G of memory for them. So perhaps you can try to allocate m

[2020-07-02 04:52] yunhochung commented on #1087
Hi~ @namtruong Thank you for your support. :) I think that it's rarely related to ECS. ECS is just managing docker container.
(A container is running with 1GMemory. A tessera is is running 768M Heap.)
Can I see your used Heap graph for 2-3 days if you don't mind?
Have you been seen the # of instances in Heap dump as below?
* org/postgresql/jdbc/PgConnection
-> Instances Count: >500
-> heap Size: 2

[2020-07-08 09:36] GraoMelo opened #1095 "CVE-2018-19786 - HashiCorp Vault < 1.0.0"
# Description
--
HashiCorp Vault before 1.0.0 writes the master key to the server log in certain unusual or misconfigured scenarios in which incorrect data comes from the autoseal mechanism without an error being reported.

##Vector:
CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:H/I:H/A:H

## score: **8.1 HIGH**

### References
https://github.com/hashicorp/vault/blob/master/CHANGELOG.md#100-december-3rd-2018

[2020-07-08 09:46] GraoMelo opened #1096 "CVE-2020-13223 - HashiCorp Vault and Vault Enterprise < 1.3.6,"
# Description
HashiCorp Vault and Vault Enterprise before 1.3.6, and 1.4.2 before 1.4.2, insert Sensitive Information into a Log File.

### Base Score:
7.5 **HIGH**

### Vector:
CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:N/A:N

### References:
https://github.com/hashicorp/vault/blob/master/CHANGELOG.md#142-may-21st-2020
https://www.hashicorp.com/blog/category/vault/

### file path:
tessera/key-vault/h

[2020-07-08 10:08] chris-j-h commented on #1095
Hi - we don't set any restrictions on the version of Vault used, provided that it supports the [kv v2 secret engine](https://www.vaultproject.io/docs/secrets/kv/kv-v2).  It is the user's responsibility to ensure the version of their Vault server does not have this vulnerability.

[2020-07-08 10:08] #1095 closed, assigned to nobody

[2020-07-08 10:08] chris-j-h commented on #1096
Hi - we don't set any restrictions on the version of Vault used, provided that it supports the [kv v2 secret engine](https://www.vaultproject.io/docs/secrets/kv/kv-v2).  It is the user's responsibility to ensure the version of their Vault server does not have this vulnerability.

[2020-07-08 10:08] #1096 closed, assigned to nobody

[2020-07-08 16:11] GraoMelo commented on #1096
@chris-j-h

https://github.com/jpmorganchase/tessera/blob/master/pom.xml#L328

really?

[2020-07-08 16:11] GraoMelo commented on #1095
@chris-j-h

https://github.com/jpmorganchase/tessera/blob/master/pom.xml#L328

really?

[2020-07-08 17:16] chris-j-h commented on #1095
[`KeyValueOperationsDelegateFactory`](https://github.com/jpmorganchase/tessera/blob/master/key-vault/hashicorp-key-vault/src/main/java/com/quorum/tessera/key/vault/hashicorp/KeyValueOperationsDelegateFactory.java) is a Tessera class that uses an SDK to create an HTTP client to Vault.  It doesn't create/start Vault itself.  Tessera's only interaction with Vault is through this client.

[2020-07-09 10:14] #490 closed, assigned to melowe

[2020-07-17 11:33] Mohammed-alzuharey commented on #449
Hi for everyone
when i run mvn install . show this error
BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  01:57 min
[INFO] Finished at: 2020-07-17T12:28:09+01:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.jacoco:jacoco-maven-plugin:0.8.3:check (check) on project

[2020-07-20 04:21] yunhochung commented on #1087
@namtruong Hi! Can you update the status regarding this issue??

[2020-07-20 07:43] namtruong commented on #1087
@yunhochung Apologies for delay in getting back to you. I'll try to have a long running network and gather the heap graph and post it on here.

Also I saw the objects you mentioned however they got garbage collected and the number of instances don't grow that much.

In the meantime, have you got any luck with the steps to reproduce the issue on a different environment? Also did you try to allocate

[2020-07-24 06:47] SriramRS opened #1105 "Add peer dynamically using REST call"
Is there a way to **dynamically add peer** information to **existing tessera nodes** through **HTTP** call.

I tried using admin api's given in tessera [swagger](https://jpmorganchase.github.io/tessera-swagger/index.html) but getting 404.

[2020-07-24 14:39] Krish1979 commented on #1105
The admin API process was deprecated to improve runtime security. With Discovery ON the Tessera node will auto discover new nodes at run time. We will update the swagger documentation to remove the Admin API section, thanks.

[2020-07-24 14:39] #1105 closed, assigned to nobody

[2020-07-24 14:43] namtruong commented on #1087
<img width="1151" alt="heap-tracer" src="https://user-images.githubusercontent.com/8926823/88402858-9cba6700-cdc3-11ea-99bb-07cf7f2eac99.png">
<img width="1151" alt="normal" src="https://user-images.githubusercontent.com/8926823/88402876-a348de80-cdc3-11ea-89d3-3daecf0e9516.png">
<img width="1151" alt="under-high-stress" src="https://user-images.githubusercontent.com/8926823/88402894-a80d9280-cdc3

[2020-07-24 14:50] namtruong commented on #1087
I will now close this as we're not able to reproduce the issue you were having.

We would try our best to support if you can test this issue in a different environment and provide the steps to replicate. Otherwise my suggestion for now would be to increase the memory given to the container process (i.e. 4GB instead of 1GB).

[2020-07-24 14:50] #1087 closed, assigned to namtruong

[2020-07-29 08:33] passionofvc opened #1109 "maven can not build in mac OS, build error [ERROR] Unable to determine Groovy version."
I can not build from master branch, when run man build, it show [[ERROR] Unable to determine Groovy version].
$ sw_vers
[code]
$ java -version
[code]
$ mvn --version
[code]
$ groovy --version
[code]
$ git clone https://github.com/jpmorganchase/tessera.git
$ cd tessera
$ mvn install -Dmaven.test.skip=true

[code]

[2020-07-29 11:23] melowe commented on #1109
This is interesting. At the moment we don't explicitly support java 14. In Theory it should work but it looks like the maven groovy plugin needs to be upgraded (I'll need to check their docs). Building with java 11 works fine but we do hope to support more recent versions explicitly once we've migrated to gradle.. If you're building from source you could try to run ./gradlew clean build. It would

[2020-07-29 13:05] melowe commented on #1109
I've raised a PR . Both maven and gradle builds work. But we'll still treat this as an experimental/unsupported feature until we get out CI running using java 14 .

[2020-07-29 13:09] melowe commented on #1109
If you need quick access or you wish to review the changes https://github.com/jpmorganchase/tessera/tree/java14_compat the branch is java14_compat

[2020-07-29 13:13] passionofvc commented on #1109
@melowe  thanks, because of this [https://github.com/gradle/gradle/issues/10248](https://github.com/gradle/gradle/issues/10248)
the gradle not work for jdk14, I try to figure out.

[code]

[2020-07-29 13:13] #1109 closed, assigned to melowe

[2020-08-21 09:13] SatpalSandhu61 commented on #807
After discussion, decided not to make any code changes for this. The bindingAddress and serverAddress are associated with the server config and might be needed for other server types (such as ThirdParty).
Will instead add documentation to clarify the use of bindingAddress.

[2020-08-21 16:01] #995 closed, assigned to nobody

[2020-08-21 16:05] melowe commented on #945
ConfigService no longer exists so assuming this is resolved.

[2020-08-21 16:05] #945 closed, assigned to nobody

[2020-08-21 16:08] melowe commented on #487
Fixed for tessera-core (transactions sometime ago) . tessera-partyinfo changes addressed in discovery changes

[2020-08-26 08:19] #807 closed, assigned to SatpalSandhu61

[2020-09-01 00:49] yunhochung opened #1128 "Set DB Connection Pool Size"
Hi.

I found the Tessera is using 10 idle db connection as default.
How do I change this value?
Some nodes is running on same DB. I have to do tunning this parameter.

Thank  you.

[2020-09-01 13:07] SatpalSandhu61 commented on #1128
There is currently no user configuration for the DB connection pool size. If we did make this configurable, then we would probably also need to allow number of threads to be configurable (and possibly some other items too).
Currently, if you wish to change the pool size then you will need to make that change in the code yourself and rebuild.

[2020-09-02 16:09] #1128 closed, assigned to nobody

[2020-09-02 17:54] trung opened #1129 "Run `mvn test` fails"
[code]

Unable to obtain versions from `shared` manifest as it needs to be packaged first. This might the reason why `mvn package` works fine.

[code]

[2020-09-04 09:50] #487 closed, assigned to nobody

[2020-09-04 09:50] #773 closed, assigned to nobody

[2020-09-08 09:40] namtruong commented on #1129
This should no longer be an issue as we no longer read version from manifest

[2020-09-08 09:44] #1129 closed, assigned to nobody

[2020-09-15 20:30] Krish1979 opened #1141 "Parallelise 'push' P2P request between Tessera Nodes"
Currently the transaction push between nodes is sequential if there are multiple recipients to a private transaction. To improve the connection response time and performance, it should be made parallel threading just like the /partyinfo request.

[2020-09-17 10:55] chris-j-h opened #1144 "Remove Admin CLI"
The admin CLI is out of date now that the admin jaxrs server has been removed.  The `admin addpeer` CLI now only updates the configfile with the new peer and requires a node restart.  For simplicity and clarity the `admin` command should be removed.

[2020-09-17 12:29] #1144 closed, assigned to chris-j-h

[2020-09-30 09:47] #1141 closed, assigned to chris-j-h

[2020-10-07 09:03] chris-j-h opened #1156 "Move build/push of Docker images to GitHub Actions"
Docker images are built and published on every push to master and new tag created.  This is currently automated by a webhook in Docker Hub.

This automation should be moved to GitHub Actions to centralise the CI pipeline.

[2020-10-07 11:28] #1156 closed, assigned to chris-j-h

[2020-10-12 13:30] melowe opened #1161 "Migrate to log4j2"
For better equivalence with Besu migrate to log4j 2. There are a few options to achieve this. For all options we'll need to change docs regarding logging and how to provide custom config etc. Devops teams managing deployments of besu and tessera can potentially manage logging for both in the same config format. Log4j2 also benefits from low/zero GC etc where they've used lmax disrupter under the b

[2020-10-23 14:34] prd-fox commented on #871
Done as part of PE for new transactions. Existing transactions will continue to figure out the decryption key at decrypt time.

[2020-10-23 14:34] #871 closed, assigned to prd-fox

[2020-10-30 21:27] #552 closed, assigned to nobody

[2020-11-04 12:25] Krish1979 opened #1178 "Tessera Peer Discovery - Exclude 'Self' as active 'configured peer list' in Partystore"
When a node has intermittent connection drop from a network it will drop all connection to the network and repopulates 'Partystore' from configured peer list to reestablish connection. But if 'self' url is also in the configured peer list, it will be fooled to believe it is connected to at least 1 active peer list and will not establish connection back to the network. This change is to exclude 'se

[2020-11-04 18:03] #1178 closed, assigned to namtruong

[2020-11-09 14:26] #860 closed, assigned to nobody

[2020-11-16 06:19] MadelineMurray opened #1185 "Move CLI exceptions to the default log level"
Move CLI exceptions to the default log level.

As a user, if I've been unable to start Tessera, I need the CLI exception to know what to fix.  This shouldn't be behind the --debug flag.

[2020-12-03 12:12] melowe opened #1197 "Migrate tessera to java 9+ jigsaw modules"
Refactor tessera to provide zip and tar distributions (using gradle application) and add module-info.java to enforce strong encapsulation to all modules.

[2020-12-04 13:56] melowe commented on #1197
Remaining tasks:
- azure key vault has some incompatibility (I suspect reflection access issue to cert apis etc)
- Test release scripts/process. We've done this with maven, in theory the scripting is in place but need to test. at least 2 days margin ahead of a release.
- change quorum acceptance tests to use distribution not java command
- change docker imagines to do the same

[2020-12-09 01:09] arash009 opened #1201 "Use Azure IAM to manage keys"
Manually passing in keys is not great for normal security practise - the recommendation is to use a IAM profile tied to the resource. The client code then obtains credentials using the DefaultAzureCredential https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java.

[2020-12-09 08:17] naveenfy opened #1202 "Issue with tessera on kubernetes"
Hi All,

I'm trying to run the tessera in the Kubernetes but not able to run it successfully. I'm facing the below issue. `operation not permitted`

[code]

[2020-12-09 12:02] namtruong opened #1203 "Database password encryption bug"
During refactoring from spring to factory pattern, the EncryptedStringResolver was used on the wrong field (url instead of password), resulted in ENC() function on password was never checked.

[2020-12-09 16:45] #1203 closed, assigned to nobody

[2020-12-14 18:03] libby commented on #1202
Hello @naveenraju9  what versions of Tessera and Quorum are you running? And how did you deploy to K8s? Did you use [Qubernetes](https://github.com/ConsenSys/qubernetes) or something else? Also what K8s platform and version are you running on?

[2020-12-15 06:10] naveenfy commented on #1202
Hey @libby  below are the versions
Quorum: 2.5
Tessera: 0.10.4
I'm deploying by using [BAF](https://github.com/hyperledger-labs/blockchain-automation-framework) and this is the [script](https://github.com/hyperledger-labs/blockchain-automation-framework/blob/master/platforms/quorum/charts/node_tessera/templates/deployment.yaml) for setting up tessera in K8s

[2020-12-23 10:15] naveenfy commented on #1202
tm.ipc is not getting created because of permissions error.